/* Show the sun icon if the bs theme is dark */
html[data-bs-theme="dark"] {
  .icon-tabler-sun {
    display: block;
  }

  .icon-tabler-moon {
    display: none;
  }
}

/* Show the moon icon if the bs theme is light */
html[data-bs-theme="light"] {
  .icon-tabler-sun {
    display: none;
  }

  .icon-tabler-moon {
    display: block;
  }
}

.section:not(body.section) {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include media-breakpoint-up(md) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.section-md {
  padding-top: 4rem;
  padding-bottom: 4rem;

  @include media-breakpoint-up(md) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.section-lg {
  padding-top: 4rem;
  padding-bottom: 4rem;

  @include media-breakpoint-up(md) {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  @include media-breakpoint-up(lg) {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}

.section-xl {
  padding-top: 8rem;
  padding-bottom: 8rem;

  @include media-breakpoint-up(md) {
    padding-top: 12rem;
    padding-bottom: 12em;
  }
}

.highlight .chroma {
  padding: 1rem;
  border-radius: var(--bs-border-radius);
}

.content {
  h2,
  h3,
  h4,
  h5,
  h6,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin: 2rem 0 1rem;
  }
}

.card {
  background-color: hsl(224deg, 10%, 12%);

  /*
  background-color: transparent;
  */

  border: 1px solid var(--sl-color-gray-6);
  transition-timing-function: cubic-bezier(0,0,.2,1);
  transition-duration: .3s;
  transition-property: transform;
}

.row-flex .card {
  height: 100%;
}

.row-blog .card:hover,
.row-themes .card:hover {
  transform: scale(1.025);
}

.row-blog .card:active {
  border: 2px solid $link-color-dark;
}

.card-body h3 {
  font-size: 1.125rem;
}

.progress {
  height: 2.625rem;
  border: 1px solid $white;
  padding: 0.25rem;
  background-color: transparent !important;
}

.progress-bar {
  background-image: linear-gradient(247.23deg,#4AF2C8 0%,#2F4CB3 100%);
}

.score {
  margin: 0.0625rem 0.75rem 0 1rem;
}

.card-logo {
  border: 2px solid transparent;
  background-color: transparent !important;
  border-radius: 0;
  
  /*
  min-height: 85px;
  min-width: 250px;
  */

  min-height: 75px;
  min-width: 125px;
}

.card-logo:active {
  border: 2px solid $link-color-dark;
}

.sidebar-section h3 {
  color: $white;
  margin-bottom: 1rem;
}

.sidebar-section ul {
  margin-bottom: 0;
}

.sidebar-section li {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.sidebar-section a:not(.btn, .text-link) {
  font-size: 1.0625rem;
  color: $link-color-dark;
  text-decoration-line: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 0.25rem;

  @include media-breakpoint-up(lg) {
    font-size: 1.125rem;
  }
}

.sidebar-section a:hover {
  color: var(--sl-color-gray-3);
}

.sidebar-section a.link-action {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.prose a.link-action {
  color: var(--sl-color-gray-2);
  text-decoration: none;
  font-size: 0.9375rem;
  display: block;
  margin-top: -0.25rem;
}

.prose a.link-action:hover {
  color: var(--sl-color-gray-1);
}

.sidebar-section a.link-action:hover {
  color: var(--sl-color-gray-3);
}

.text-sidebar {
  line-height: 1.6;
}

ul li::marker,
ol li::marker {
  color: $link-color-dark;
}

body.home {
  // background-color: var(--sl-color-purple-low);

  // background-color: $at-violet-100;
  background:linear-gradient(215deg,var(--overlay-blurple),transparent 40%),radial-gradient(var(--overlay-blurple),transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,radial-gradient(var(--overlay-blurple),transparent 65%) no-repeat 50% calc(100% + 20rem) / 60rem 30rem;

}

img {
  border-radius: 0.5rem;
}

a.footnote-ref,
a.footnote-backref {
  text-decoration: none;
}

a.footnote-ref:hover {
  text-decoration: underline;
}

li input[type="checkbox"] {
  @extend .form-check-input;

  margin: 0.375rem 0.5rem 0.375rem 1rem;
  border: 1px solid $gray-400;
}

li input[type="checkbox"]:disabled {
  pointer-events: none;
  filter: none;
  opacity: 1;
}

li input[type="checkbox"]:checked {
  background-color: $link-color-dark;
  border-color: $link-color-dark;
}

@include color-mode(dark) {
  li input[type="checkbox"] {
    border: 1px solid var(--sl-color-gray-4);
  }

  li input[type="checkbox"]:checked {
    background-color: $link-color-dark;
    border-color: $link-color-dark;

    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='hsl(224, 10%, 10%)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  }
}

// Source: https://codepen.io/ondrejsvestka/pen/gWPpPo

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

.row-flex [class*="col-"] {
  margin-bottom: 30px;
}

.row-flex .card [class*="col-"] {
  margin-bottom: 0;
}

.bg-dark {
  background-color: var(--sl-color-gray-6) !important;
}
