@ventizo:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${VENTIZO_AUTH_TOKEN}
enable-pre-post-scripts = true
auto-install-peers = true
node-linker = hoisted
prefer-symlinked-executables = false