[build]
  publish = "public"
  functions = "functions"

[build.environment]
  NODE_VERSION = "18.16.1"
  NPM_VERSION = "9.5.1"

[context.production]
  command = "pnpm build"

[context.deploy-preview]
  command = "pnpm build -- -b $DEPLOY_PRIME_URL"

[context.branch-deploy]
  command = "pnpm build -- -b $DEPLOY_PRIME_URL"

[context.next]
  command = "pnpm build"

[context.next.environment]
  HUGO_ENV = "next"

[dev]
  framework = "#custom"
  command = "pnpm dev"
  targetPort = 1313
  port = 8888
  publish = "public"
  autoLaunch = false

# Redirects and rewrites — https://docs.netlify.com/routing/redirects/#syntax-for-the-netlify-configuration-file
[[redirects]]
  from = "/new/*"
  to = "https://jazzy-donut-4af8c4.netlify.app/:splat"
  status = 200
  force = true

# Custom headers — https://docs.netlify.com/routing/headers/#syntax-for-the-netlify-configuration-file
[[headers]]
  for = "/*"
  [headers.values]
    Strict-Transport-Security = "max-age=31536000; includeSubDomains; preload"
    X-Content-Type-Options = "nosniff"
    X-XSS-Protection = "1; mode=block"
    Content-Security-Policy = "default-src 'self'; manifest-src 'self'; connect-src 'self' https://plausible.io; font-src 'self' https://new.gethyas.com; img-src 'self' https://new.gethyas.com https://avatars.githubusercontent.com data:; script-src 'self' https://new.gethyas.com https://plausible.io 'nonce-dXNlcj0iaGVsbG8iLGRvbWFpbj0iaGVua3ZlcmxpbmRlLmNvbSIsZG9jdW1lbnQud3JpdGUodXNlcisiQCIrZG9tYWluKTs=' 'sha256-aWZ3y/RxbBYKHXH0z8+8ljrHG1mSBvyzSfxSMjBSaXk='; style-src 'self' https://new.gethyas.com"
    X-Frame-Options = "SAMEORIGIN"
    Referrer-Policy = "strict-origin"
    Feature-Policy = "geolocation 'self'"
    Cache-Control= '''
    public,
    max-age=31536000'''
    Access-Control-Allow-Origin = "https://new.gethyas.com"
