<div class="card rounded-0">
  {{ $image := .Resources.GetMatch (printf "**%s" (index .Params.images 0)) -}}

  {{ if $image -}}
    {{ partial "picture"  (dict
    "ctx" .
    "src" $image
    "alt" .Title
    "class" "card-img-top img-fluid blur-up w-100 h-auto rounded-0"
    )}}
  {{ end -}}
  <div class="card-body">
    <h2 class="card-title"><a class="stretched-link text-white text-decoration-none" href="{{.Permalink}}">{{.Title}}</a></h2>
    <p class="card-text">{{ .Summary }}</p>
  </div>

  <!--
  <div class="card-footer">
    <div class="row">
      <div class="col-6">
        <p class="mb-0">
          {{ partial "main/creator-link" (dict "repo" .Params.repo ) }}
        </p>
      </div>
      <div class="col-6">
        <p class="text-end mb-0">{{ .Params.cost }}</p>
      </div>
    </div>
  </div>
  -->

</div>
