<!-- start newsletter -->
<section class="line-bg bg-white">
  <div class="newsletter-block border-bottom">
    <div class="container">
      <div class="row gy-5 align-items-center justify-content-center text-center text-md-start">
        <div class="col-xl-5 col-lg-5 col-md-6 col-sm-10">
          <div class="pe-0 pe-xl-4">
            <!--
            <h2 class="mb-3 lh-sm">Subscribe to our monthly newsletter</h2>
            <p class="mb-0">Stay up-to-date about latest tech and new world. Unsubscribe at anytime!</p>
            -->
            <h2 class="mb-3 lh-sm">Stay in the loop</h2>
            <p class="mb-0">Subscribe to the Hyas newsletter and get occasional updates. Unsubscribe at anytime.</p>
          </div>
        </div>
        <div class="col-xl-4 col-lg-5 col-md-6">
          <div class="ps-0 ps-xl-4">

            <form class="email-form" name="newsletter" method="post" netlify-honeypot="name" data-netlify="true">
              <div class="input-group">
                <input name="name" type="text" class="form-control visually-hidden" placeholder="Full Name" aria-label="Name">
                <input name="email" type="email" class="form-control" placeholder="Your email address *" aria-label="Email address" required>
                <input name="page" type="hidden" value="{{ .Page.Permalink }}">
                <div class="input-group-append w-100">
                  <button type="submit" class="input-group-text w-100 mb-0" aria-label="Subscribe">Subscribe <svg xmlns="http://www.w3.org/2000/svg" class="ms-auto" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="17" y1="7" x2="7" y2="17" /><polyline points="8 7 17 7 17 16" /></svg></button>
                </div>
              </div>
            </form>
            <!--
            <div id="mc_embed_signup">
             <form action="https://gmail.us20.list-manage.com/subscribe/post?u=92641572a6c6ec43da15feed0&amp;amp;id=d28bb2454f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                <div id="mc_embed_signup_scroll" class="input-group">
                  <input type="text" value="" name="NAME" class="form-control w-100" id="mce-NAME" placeholder="Full Name" aria-label="Name" autocomplete="new-name">
                  <input type="email" value="" name="EMAIL" class="form-control w-100 required email" id="mce-EMAIL" placeholder="Your email address *" aria-label="Subscription" autocomplete="new-email" required>
                  <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                  </div>
                  <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_92641572a6c6ec43da15feed0_d28bb2454f" tabindex="-1" value="">
                  </div>
                  <div class="input-group-append w-100">
                    <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="input-group-text w-100 mb-0" aria-label="Subscription Button"> Subscribe Now <svg xmlns="http://www.w3.org/2000/svg" class="ms-auto" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><line x1="17" y1="7" x2="7" y2="17" /><polyline points="8 7 17 7 17 16" /></svg>
                    </button>
                  </div>
                </div>
              </form>
            </div>
            -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end newsletter -->

<!--
<div class="card">
  <div class="card-bar"></div>
  <div class="card-body">
    <h3 class="h4 card-title">Stay in the loop</h3>
    <p class="card-text">Subscribe to the Hyas newsletter and get occasional updates.</p>
    <form class="row gx-2 gy-3 email-form" name="newsletter" method="post" netlify-honeypot="name" data-netlify="true">
      <div class="col-md-12">
        <input name="name" type="text" class="form-control visually-hidden" placeholder="your name" aria-label="Name">
        <input name="email" type="email" class="form-control" placeholder="your@email.com" aria-label="Email address" required>
        <input name="page" type="hidden" value="{{ .Page.Permalink }}">
      </div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-dark w-100" aria-label="Subscribe">Subscribe</button>
      </div>
    </form>
  </div>
</div>
-->
