<!-- start newsletter -->
<section class="bg-light py-5">
  <div class="container my-3 my-md-5">
    <div class="card newsletter rounded-3 border-0">
      <div class="bg-light p-2 p-md-4 rounded-3">
        <div class="row g-0 d-flex align-items-center">
          <div class="col-lg-6 col-xl-7">
            <div class="card-body">
              <h2 class="h3 card-title text-center text-md-start">Stay in the loop</h5>
              <p class="card-text lead text-center text-md-start">Subscribe to the Hyas newsletter and get occasional updates.</p>
            </div>
          </div>
          <div class="col-lg-6 col-xl-5">
            <div class="card-body">
              <form class="email-form" name="newsletter" method="post" netlify-honeypot="name" data-netlify="true">
                <div class="input-group">
                  <input type="hidden" name="subject" value="Hyas newsletter submission">
                  <div class="visually-hidden">
                    <input name="name" type="text" class="form-control" placeholder="Full name" aria-label="Full name">
                  </div>
                  <input name="email" type="email" class="form-control rounded-start border-0" placeholder="Your email address" aria-label="Email address" aria-describedby="subscribeButton" required>
                  <input name="page" type="hidden" value="{{ .Page.Permalink }}">
                  <button id="subscribeButton" type="submit" data-title="{{ .Page.Title }}" class="btn btn-newsletter bg-white rounded-end border-0" aria-label="Subscribe"><span>Subscribe</span></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end newsletter -->
