{{ $currentPage := . -}}
<nav class="section-menu">
  <ul class="list-unstyled">
    {{ $active := eq $currentPage.Title "Plugins" -}}
    <li class="mb-1"><a class="section-link{{ if $active }} active{{ end }}" href="/plugins/">All ({{ len (where .Site.RegularPages "Section" "==" "showcase") }})</a></li>
  </ul>
</nav>
<nav class="section-menu">
  <ul class="list-unstyled">
    {{ range .Site.Taxonomies.plugins }}
      {{ $active := eq .Page.Title $currentPage.Title -}}
      <li class="mb-1"><a class="section-link{{ if $active }} active{{ end }}" href="{{ .Page.Permalink }}">{{ .Page.Title | title }} ({{ .Count }})</a></li>
    {{ end }}
  </ul>
</nav>
