{{ $currentPage := . -}}
{{ $taxonomy := .taxonomy }}
{{ $section := .section }}
{{ $title := .taxonomy | humanize }}
{{ $pages := index site.Taxonomies .taxonomy }}

<nav class="section-menu">
  <ul class="list-unstyled">
    {{ $active := eq $currentPage.Title $title -}}
    <li><a class="section-link{{ if $active }} active{{ end }}" href="/{{ $section }}/">All ({{ len (where site.RegularPages "Section" "==" $section) }})</a></li>
    {{ range $pages }}
      {{ $active := eq .Page.Title $currentPage.Title -}}
      <li><a class="section-link{{ if $active }} active{{ end }}" href="{{ .Page.Permalink }}">{{ .Page.Title | title }} ({{ .Count }})</a></li>
    {{ end }}
  </ul>
</nav>
