{{ $currentPage := . -}}
<nav class="section-menu">
  <ul class="list-unstyled">
    {{ $active := eq $currentPage.Title "Themes" -}}
    <li><a class="section-link{{ if $active }} active{{ end }}" href="/themes/">All ({{ len (where .Site.RegularPages "Section" "==" "showcase") }})</a></li>
    {{ range .Site.Taxonomies.themes }}
      {{ $active := eq .Page.Title $currentPage.Title -}}
      <li><a class="section-link{{ if $active }} active{{ end }}" href="{{ .Page.Permalink }}">{{ .Page.Title | title }} ({{ .Count }})</a></li>
    {{ end }}
  </ul>
</nav>
