<p class="meta font-monospace text-center">{{ .PublishDate.Format "January 2, 2006" }}</p>
<h1 class="display-4 fw-normal text-center">{{ .Title }}</h1>
<p class="meta font-monospace text-center meta-blog">
  {{- range .Params.authors -}}
    {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) -}}
      {{ if .Params.avatar -}}
        {{ $image := .Resources.GetMatch (printf "**%s" .Params.avatar) -}}
        {{ $i := $image.Process "fill 168x168" -}}
        {{ $l := $image.Resize "14x webp q20" -}}
        <a href="{{ .Permalink }}">
          <img class="lazyload blur-up rounded-circle d-inline" src="{{ $l.RelPermalink }}" data-src="{{ $i.RelPermalink }}" alt="{{ .Title }}" width="42" height="42" loading="lazy" decoding="async" fetch-priority="auto">
        </a> {{ .Title }}
      {{ end -}}
    {{ end -}}
  {{ end -}}
  {{ if and .Params.authors .Params.categories -}}<span>—&nbsp;</span>{{ end -}}
  {{ if .Params.categories -}}{{ range $index, $category := .Params.categories -}}{{ if gt $index 0 -}}, {{ end -}}<a class="text-link" href="{{ "/categories/" | absURL }}{{ . | urlize }}/">{{ . }}</a>{{ end -}}{{ end -}}</p>
<hr>
