					<div class="related-words">

						<h3 class="mfs-16 block-title smallcaps color-dark-gray">Related Words</h3>

						<div class="related-words-list">

							<a class="related-word text-decoration-none" href="https://www.wpglossary.net/word/tag/">

	<h4 class="related-word-title mfs-16 tfs-18 weight-semibold color-blue lining-numerals line-height-title">Tag</h4>

<svg version="1.1" viewBox="0 0 18 14" xmlns="http://www.w3.org/2000/svg">
<desc></desc>
<g fill="none" fill-rule="evenodd">
<g transform="translate(-25 -1448)" fill="#3C48D5">
<g transform="translate(0 100)">
<g transform="translate(0 501)">
<g transform="translate(0 60)">
<g transform="translate(25 755)">
<g transform="translate(0 31)">
<path d="m14.243 7l-4.6569-4.6569 1.4142-1.4142 7.0711 7.0711-7.0711 7.0711-1.4142-1.4142 4.6569-4.6569h-14.243v-2h14.243z"/>
</g>
</g>
</g>
</g>
</g>
</g>
</g>
</svg>		<p class="related-word-subtitle mfs-14 color-black line-height-paragraph no-margin">Tags are one of two taxonomies included in WordPress, and it's used to sort posts&hellip;</p>
	
</a><!-- .related-word --><a class="related-word text-decoration-none" href="https://www.wpglossary.net/word/category/">

	<h4 class="related-word-title mfs-16 tfs-18 weight-semibold color-blue lining-numerals line-height-title">Category</h4>

<svg version="1.1" viewBox="0 0 18 14" xmlns="http://www.w3.org/2000/svg">
<desc></desc>
<g fill="none" fill-rule="evenodd">
<g transform="translate(-25 -1448)" fill="#3C48D5">
<g transform="translate(0 100)">
<g transform="translate(0 501)">
<g transform="translate(0 60)">
<g transform="translate(25 755)">
<g transform="translate(0 31)">
<path d="m14.243 7l-4.6569-4.6569 1.4142-1.4142 7.0711 7.0711-7.0711 7.0711-1.4142-1.4142 4.6569-4.6569h-14.243v-2h14.243z"/>
</g>
</g>
</g>
</g>
</g>
</g>
</g>
</svg>		<p class="related-word-subtitle mfs-14 color-black line-height-paragraph no-margin">Categories is one of two included taxonomies in WordPress, and it is used to sort&hellip;</p>
	
</a><!-- .related-word --><a class="related-word text-decoration-none" href="https://www.wpglossary.net/word/custom-post-type/">

	<h4 class="related-word-title mfs-16 tfs-18 weight-semibold color-blue lining-numerals line-height-title">Custom Post Type</h4>

<svg version="1.1" viewBox="0 0 18 14" xmlns="http://www.w3.org/2000/svg">
<desc></desc>
<g fill="none" fill-rule="evenodd">
<g transform="translate(-25 -1448)" fill="#3C48D5">
<g transform="translate(0 100)">
<g transform="translate(0 501)">
<g transform="translate(0 60)">
<g transform="translate(25 755)">
<g transform="translate(0 31)">
<path d="m14.243 7l-4.6569-4.6569 1.4142-1.4142 7.0711 7.0711-7.0711 7.0711-1.4142-1.4142 4.6569-4.6569h-14.243v-2h14.243z"/>
</g>
</g>
</g>
</g>
</g>
</g>
</g>
</svg>		<p class="related-word-subtitle mfs-14 color-black line-height-paragraph no-margin">Custom post type refers to any post type that isn't included as default in WordPress.</p>
	
</a><!-- .related-word --><a class="related-word text-decoration-none" href="https://www.wpglossary.net/word/term/">

	<h4 class="related-word-title mfs-16 tfs-18 weight-semibold color-blue lining-numerals line-height-title">Term</h4>


<svg version="1.1" viewBox="0 0 18 14" xmlns="http://www.w3.org/2000/svg">
<desc></desc>
<g fill="none" fill-rule="evenodd">
<g transform="translate(-25 -1448)" fill="#3C48D5">
<g transform="translate(0 100)">
<g transform="translate(0 501)">
<g transform="translate(0 60)">
<g transform="translate(25 755)">
<g transform="translate(0 31)">
<path d="m14.243 7l-4.6569-4.6569 1.4142-1.4142 7.0711 7.0711-7.0711 7.0711-1.4142-1.4142 4.6569-4.6569h-14.243v-2h14.243z"/>
</g>
</g>
</g>
</g>
</g>
</g>
</g>
</svg>		<p class="related-word-subtitle mfs-14 color-black line-height-paragraph no-margin">A term is a grouping within a taxonomy. If you have a category called "Reviews",&hellip;</p>
	
</a><!-- .related-word -->
						</div><!-- .word-list -->

					</div><!-- .related-words -->