<div class="spotlight-group">
  {{ range .Page.Resources.Match "spotlight/**" }}
    {{ $base := strings.TrimLeft "spotlight" .Name }}
    {{ $base = strings.TrimSuffix (path.Ext .Name) $base }}
    {{ $image_800 := .Resize "800x webp" }}
    {{ $image := .Process "webp" }}
    <div class="spotlight m-2 m-md-3"
      data-src="{{ $image.RelPermalink }}"
      data-src-800="{{ $image_800.RelPermalink }}"
      data-src-1600="{{ $image.RelPermalink }}">
      {{ with .Fill "150x150 q100 Center" }}
        <img class="lazyload blur-up" src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="{{ $base | humanize }}" decoding="async" fetchpriority="auto" loading="lazy">
      {{ end }}
    </div>
  {{ end }}
</div>
