/*
.navbar .offcanvas.offcanvas-end {
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  border: 1px solid $blue-1200; // border-left: none;
}
*/

/*
@include media-breakpoint-down(sm) {
  .navbar .offcanvas.offcanvas-end {
    width: 75vw;
  }
}

@include color-mode(dark) {
  .navbar .offcanvas.offcanvas-end {
    border: 1px solid $blue-6500;
  }
}

// https://mdbootstrap.com/docs/standard/extended/menu-with-icons/
.navbar .dropdown-toggle::after {
  display: none !important;
}

@include media-breakpoint-down(lg) {
  .navbar .icon-tabler-chevron-down {
    display: block;
    float: right;
    transform: rotate(270deg);
    transition: transform 0.35s ease;
  }

  .navbar .dropdown-toggle[aria-expanded="true"] .icon-tabler-chevron-down {
    transform: rotate(360deg);
  }
}

@include media-breakpoint-up(lg) {
  // Source: https://bootstrap-menu.com/detail-basic-hover.html
	.navbar .nav-item .dropdown-menu {
    display: none;
  }

	.navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
	
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}

.modal-backdrop,
.offcanvas-backdrop {
  visibility: hidden;
  background: rgba(27,31,36,0.5);
  opacity: 0
}

.modal-backdrop.show,
.offcanvas-backdrop.show {
  visibility: visible;
  opacity: 1;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px)
}

.sticky-top .navbar {
  background-color: $body-bg;
  border-bottom: 1px solid $blue-1200;
}

@include color-mode(dark) {
  .sticky-top .navbar {
    background-color: $body-bg-dark;
    border-bottom: 1px solid $blue-6500;
  }
}

.showing,
.hiding {
  -webkit-transition: none;
  transition: none;
  display: none;
}

.offcanvas-top.h-auto {
  bottom: initial;
}

.nav-social a {
  color: $white;
}

.nav-social a:hover {
  color: #adb5bd;
}
*/
//

/*
.navbar .offcanvas.offcanvas-end {

  top: 1rem;
  right: 1rem;
  bottom: 1rem;

  border: 1px solid $blueViolet-200; // border-left: none;
}
*/

@include media-breakpoint-down(sm) {
  .navbar .offcanvas.offcanvas-end {
    width: 75vw;
  }
}

/*
@include color-mode(dark) {
  .navbar .offcanvas.offcanvas-end {
    border: 1px solid $blueViolet-200;
    border: 0;
  }
}
*/

// https://mdbootstrap.com/docs/standard/extended/menu-with-icons/
.navbar .dropdown-toggle::after {
  display: none !important;
}

.dropdown-toggle svg {
  margin-left: 0.125rem;
}

@include media-breakpoint-down(lg) {
  .navbar .icon-tabler-chevron-down {
    display: block;
    float: right;
    transform: rotate(270deg);
    transition: transform 0.35s ease;
  }

  .navbar .dropdown-toggle[aria-expanded="true"] .icon-tabler-chevron-down {
    transform: rotate(360deg);
  }

  .navbar-nav .dropdown-menu {
    border: 0;
  }

  .navbar-nav .nav-item {
    border-bottom: 1px solid var(--sl-color-gray-6);
    font-family: $headings-font-family;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .navbar-nav .nav-link {
    font-weight: $font-weight-normal;
  }

  .navbar-nav .dropdown-item {
    font-weight: $font-weight-light;
  }

  .dropdown-toggle svg {
    margin-top: 0.25rem;
    margin-left: 0;
  }
}

@include media-breakpoint-up(lg) {
  .navbar-nav {
    margin-top: 0.0625rem;
  }

  .navbar .nav-item {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  // Source: https://bootstrap-menu.com/detail-basic-hover.html
  .navbar .nav-item .dropdown-menu {
    display: none;
  }

  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
}

.modal-backdrop,
.offcanvas-backdrop {
  visibility: hidden;
  background-color: transparent;
  opacity: 0;
}

.modal-backdrop.show,
.offcanvas-backdrop.show {
  visibility: visible;
  opacity: 1;
  backdrop-filter: blur(16px);
}

.sticky-top .navbar {
  background-color: $body-bg;

  /*
  border-bottom: 1px solid $blueViolet-200;
  */
}

@include color-mode(dark) {
  .navbar {
    background-color: transparent;
    border-bottom: 1px solid var(--sl-color-gray-6);
  }

  .sticky-top .navbar {
    background-color: transparent;
    border-bottom: 1px solid transparent;
    backdrop-filter: blur(16px);
  }
}

.navbar-brand {
  font-family: $headings-font-family;
  font-weight: $font-weight-medium;
  font-size: 1.5rem;
}

.hyas-logo-semibold-wide {
  width: 80px;
  height: 100%;
}

@include media-breakpoint-down(lg) {
  .hyas-logo-semibold-wide {
    width: 70px;
    height: 100%;
  }
}

.btn-link {
  color: $white;
}

.navbar-nav .nav-link,
.navbar-nav .dropdown-item {
  color: $white;
}

.dropdown-item.active, .dropdown-item:active {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

.navbar-nav .nav-link:hover,
.navbar-nav .dropdown-item:hover {
  color: var(--sl-color-gray-3);
  background: transparent;
}

.showing,
.hiding {
  -webkit-transition: none;
  transition: none;
  display: none;
}

.offcanvas-top.h-auto {
  bottom: initial;
}

.offcanvas-bottom.h-auto {
  top: initial;
}

.navbar .nav-social li:not(:first-child) {
  margin-left: 0.25rem;
}

.nav-social a {
  color: $white;
  text-decoration: none;
}

.nav-social a:hover {
  color: var(--sl-color-gray-3 );
}

.navbar-nav .dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
}

@include media-breakpoint-up(lg) {
  .navbar-nav .dropdown-menu {
    background: $white;
    padding: 0.25rem;
  }

  .navbar-nav .dropdown-menu .dropdown-item {
    color: var(--sl-color-gray-5);
    padding: 0.5rem;
  }

  .navbar-nav .dropdown-menu .dropdown-item:hover {
    background: var(--sl-color-gray-1);
    border-radius: 0.25rem;
  }
}

.dropdown-menu-pre {
  line-height: 1;
  margin-right: 0.375rem;
  margin-bottom: 0.125rem;
}

.offcanvas {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.offcanvas-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--sl-color-gray-6);
}

.offcanvas-body {
  padding-top: 0;
  padding-bottom: 0.5rem;
}

@include media-breakpoint-down(lg) {
  .nav-item {
    font-size: 1.5rem;
  }

  .dropdown-toggle svg {
    width: 28px;
    height: 28px;
  }

  .dropdown-menu-pre svg {
    width: 24px;
    height: 24px;
    margin-right: 0.375rem;
  }

  .navbar-nav .dropdown-menu .dropdown-item {
    font-size: 1.25rem;
  }

  .offcanvas .nav-social {
    border-top: 1px solid var(--sl-color-gray-6);
    padding-top: 1.5rem;
    padding-bottom: 0;
  }
}

@include media-breakpoint-up(lg) {
  .dropdown-menu {
    margin-left: 0.5rem;
  }
}
