.clipboard {
  position: relative;
  float: right;
}

// Clipboard button
.btn-clipboard {
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  line-height: 1;
  padding: 0.3125rem 0.3125rem 0.1875rem;
  color: var(--sl-color-gray-1);
  background-color: #f6f8fa;
  border-color: var(--sl-color-gray-2);
}

// Clipboard icon
.btn-clipboard::after {
  width: 22px;
  height: 22px;
  display: inline-block;
  content: '';
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-copy' width='22' height='22' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z'%3E%3C/path%3E%3Cpath d='M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2'%3E%3C/path%3E%3C/svg%3E") no-repeat 50% 50%;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-copy' width='22' height='22' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z'%3E%3C/path%3E%3Cpath d='M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2'%3E%3C/path%3E%3C/svg%3E") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--sl-color-gray-1);
}

// Clipboard button
.btn-clipboard:hover {
  color: var(--sl-color-gray-1);
  background-color: var(--sl-color-gray-2);
  border-color: var(--sl-color-gray-3);
}

// Clipboard icon
.btn-clipboard:hover::after {
  width: 22px;
  height: 22px;
  display: inline-block;
  content: '';
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-copy' width='22' height='22' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z'%3E%3C/path%3E%3Cpath d='M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2'%3E%3C/path%3E%3C/svg%3E") no-repeat 50% 50%;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-copy' width='22' height='22' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z'%3E%3C/path%3E%3Cpath d='M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2'%3E%3C/path%3E%3C/svg%3E") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--sl-color-gray-1);
}

// Clipboard button
.btn-clipboard:focus,
.btn-clipboard:active {
  border-color: var(--sl-color-gray-3) !important;
}

// Check icon
.btn-clipboard:focus::after,
.btn-clipboard:active::after {
  width: 22px;
  height: 22px;
  display: inline-block;
  content: '';
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 24 24' stroke-width='1.25' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M5 12l5 5l10 -10'%3E%3C/path%3E%3C/svg%3E") no-repeat 50% 50%;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 24 24' stroke-width='1.25' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M5 12l5 5l10 -10'%3E%3C/path%3E%3C/svg%3E") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--sl-color-gray-1);
}

@include color-mode(dark) {
  // Clipboard button
  .btn-clipboard {
    color: var(--sl-color-gray-2);
    background-color: transparent;
    border-color: transparent;
  }

  // Clipboard icon
  .btn-clipboard::after {
    background-color: var(--sl-color-gray-2);
  }

  // Clipboard button
  .btn-clipboard:hover {
    color: var(--sl-color-gray-1);
    background-color: transparent;
    border-color: transparent;
  }

  // Clipboard icon
  .btn-clipboard:hover::after {
    background-color: var(--sl-color-gray-1);
  }

  // Clipboard button
  .btn-clipboard:focus,
  .btn-clipboard:active {
    border-color: transparent !important;
  }

  // Check icon
  .btn-clipboard:focus::after,
  .btn-clipboard:active::after {
    background-color: var(--sl-color-gray-2);
  }
}

@include media-breakpoint-up(md) {
  .highlight:hover .btn-clipboard {
    opacity: 1;
  }
}

#toTop {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#toTop.fade {
  opacity: 1;
}

.btn-light span {
  color: var(--sl-color-purple-low);
}

.btn-action {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.btn-primary.btn-action:hover,
.btn-outline-primary.btn-action:hover {
  color: var(--sl-color-gray-6);
}
