.search-form .btn-link,
.modal-body p.message,
.modal-footer {
  font-size: $font-size-sm;
}

// Source: https://css-tricks.com/almanac/properties/s/scrollbar/
.modal-body::-webkit-scrollbar {
  width: 0.25rem;
}

.modal-body::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}
 
.modal-body::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}

@include color-mode(dark) {
  .modal-body::-webkit-scrollbar-track {
    background-color: #424242;
  }
   
  .modal-body::-webkit-scrollbar-thumb {
    background-color: #686868;
  }
}


article a:focus {
  /*
  border-color: transparent;
  box-shadow: 0;
  */
  outline: 0 none;
} 

article:hover .card,
article.selected .card {
  background-color: $primary;
  color: $white;
}

.search-result .submitted {
  font-size: $font-size-sm;
  margin-top: 0.5rem;
}

.search-result .content {
  margin-top: 0.5rem;
}
