/* Colors */
$white: #fff;
$_2d3741: #2d3741;
$_f1f1f1: #f1f1f1;
$_ddd: #ddd;
$_3c48d5: #3c48d5;
$_e1e1e6: #e1e1e6;
$_f0f1f2: #f0f1f2;
$_7d8791: #7d8791;
$_919ba5: #919ba5;
$_2c359f: #2c359f;
$_f6f6f6: #f6f6f6;
$_55acee: #55acee;
$_3b5998: #3b5998;
$_f6f6f7: #f6f6f7;
$_d1d1d6: #d1d1d6;
$_7ac143: #7ac143;
$_ecedf0: #ecedf0;
$_454d69: #454d69;
$_dfe9e0: #dfe9e0;
$_2b672c: #2b672c;
$_faebec: #faebec;
$_d43546: #d43546;
$_faeade: #faeade;
$_da7323: #da7323;
$_f1f3f7: #f1f3f7;
$_3cd570: #3cd570;
$_d53c3c: #d53c3c;
$_f44c4c: #f44c4c;
$black: #000;
