{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="row align-items-center section-title">
      <div class="col-sm-7">
        <h1 class="h3 mb-0 title">Featured Posts</h1>
      </div>
      <!--
      <div class="col-sm-5 text-end d-none d-sm-block">
        <a class="text-link lead active" href="/"> Featured Posts <svg xmlns="http://www.w3.org/2000/svg" class="mb-1" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="17" y1="7" x2="7" y2="17"></line><polyline points="8 7 17 7 17 16"></polyline></svg>
        </a>
      </div>
      -->
    </div>
    <div class="row gy-5 gx-md-5">
      {{ range $index, $element := first 4 (where .Data.Pages "Params.featured" true) }}
        {{ if eq $index 0 -}}
        <div class="col-lg-4 col-md-6 order-0">
          {{ partial "main/post-default" . }}
        </div>
        <div class="col-lg-4 col-md-12 order-2 order-lg-1">
          <div class="row gx-0 gx-md-5 gx-lg-0 gy-5">
        {{ else if (eq $index 1 2) -}}
        <div class="col-lg-12 col-md-6">
          {{ partial "main/post-compact" . }}
        </div>
        {{ else -}}
          </div>
        </div>
        <div class="col-lg-4 col-md-6 order-1 order-lg-2">
          {{ partial "main/post-default" . }}
        </div>
        {{ end -}}
      {{ end }}
    </div>
    <!--
    <div class="d-block d-sm-none mt-5 pt-3">
      <div class="text-center">
        <a class="text-link lead active" href="/"> Featured Posts <svg xmlns="http://www.w3.org/2000/svg" class="mb-1" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="17" y1="7" x2="7" y2="17"></line><polyline points="8 7 17 7 17 16"></polyline></svg></i>
        </a>
      </div>
    </div>
    -->
    <div class="d-block mt-5 pt-3"></div>
		<div class="row align-items-center section-title">
      <div class="col-sm-7">
        <h1 class="h3 mb-0 title">Recent Posts</h1>
      </div>
      <!--
      <div class="col-sm-5 text-end d-none d-sm-block">
        <a class="text-link lead active" href="/blog/"> All Posts <svg xmlns="http://www.w3.org/2000/svg" class="mb-1" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="17" y1="7" x2="7" y2="17"></line><polyline points="8 7 17 7 17 16"></polyline></svg>
        </a>
      </div>
      -->
		</div>
    <div class="row gy-5 gx-md-5">
      {{ range .Data.Pages.ByDate.Reverse -}}
      <div class="col-lg-4 col-md-6">
        {{ partial "main/post-default" . }}
      </div>
      {{ end -}}
      <div class="col-12 pt-4 mt-5">
        <nav class="text-center">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link page-link-previous bg-transparent rounded-0 px-0 border-0 text-dark text-link active text-uppercase fw-medium" href="/">
                <i class="ti ti-chevron-left"></i>
                <span>Previous</span>
              </a>
            </li>
            <li class="page-item page-count" title="Page 1 of 1">
              <span class="current-page">1</span>
              <span class="total-page">1</span>
            </li>
            <li class="page-item disabled">
              <a class="page-link bg-transparent rounded-0 px-0 border-0 text-dark text-link active text-uppercase fw-medium" href="/">
                <span>Next</span>
                <i class="ti ti-chevron-right"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
{{ partial "sidebar/newsletter" . }}
{{ end }}
