{{ define "main" }}
<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-6">
        <h1 class="text-center my-3">{{ .Title }}</h1>
        <p class="text-center text-body-secondary lead">{{ .Params.date | time.Format ":date_long" }}</p>
        <hr>
        <div class="page-content">
          {{ .Content }}
        </div>
        <div class="mt-5">
          {{ if .Params.categories -}}
            {{ range $index, $category := .Params.categories -}}
              <a class="btn btn-category" href="{{ "/categories/" | absURL }}{{ . | urlize }}/">{{ . }}</a>
            {{ end -}}
          {{ end -}}
        </div>
        <!--
        {{- with site.RegularPages.Related . | first 3 }}
          <h2 class="fs-4">Related posts</h2>
          <ul class="mt-4">
            {{ range . }}
              <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
            {{ end }}
          </ul>
        {{- end }}
        -->
        <!--
        <div class="pt-122">
          {{ partial "main/newsletter-form" . }}
        </div>
      -->
      </div>
    </div>
  </div>
</div>

<div class="section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">

          {{ $pages := .CurrentSection.Pages }}
          {{- with $pages.Prev . }}
            <div class="d-flex flex-column flex-md-row align-items-md-center">
              <div class="template-navigation-link"><span aria-hidden="true">←</span></div>
              <div><a class="nav-link nav-prev" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></div>
            </div>
          {{- end }}
            </div>
          <div class="col-6">
          {{- with $pages.Next . }}
            <div class="d-flex flex-column align-items-end flex-md-row align-items-md-center justify-content-md-end">
              <div class="template-navigation-link order-md-1"><span aria-hidden="true">→</span></div>
              <div class="order-md-0"><a class="nav-link nav-next" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></div>
            </div>
          {{- end }}

        </div>

    </div>
  </div>
</div>

<div class="section pt-0 pt-md-3">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        {{ partial "main/newsletter-form" . }}
      </div>
    </div>
  </div>
</div>

{{ end }}
