{{ define "main" }}
{{ $image := .Resources.GetMatch (printf "**%s" (index .Params.images 0)) -}}
<section class="bg-body">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-9 col-lg-10">
        <div class="section {{ if $image -}}image-custom{{ else -}}image-none{{ end -}}">
          <p class="mb-4 text-muted">{{ if lt .ReadingTime 9 -}}0{{ end -}}{{ .ReadingTime -}}&nbsp;min reading in <span class="mx-2">—</span>
            {{ if .Params.categories -}}{{ range $index, $category := .Params.categories -}}{{ if gt $index 0 -}}, {{ end -}}<a class="text-link" href="{{ "/categories/" | absURL }}{{ . | urlize }}/">{{ . }}</a>{{ end -}}{{ end -}}
          </p>
          <h1 class="mb-3">{{ .Title }}</h1>
          <p class="mb-4 pb-1">{{ .Params.lead | safeHTML }}</p>
          <div class="post-author d-flex">
            <div class="flex-shrink-0">
              {{- range .Params.authors -}}
                {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) -}}
                  {{ if .Params.avatar -}}
                    {{ $image := .Resources.GetMatch (printf "**%s" .Params.avatar) -}}
                    {{ $image := partial "helpers/lib/image-handling/find-image-src" (dict "src" $image "page" .Page "getRelative" true "ignoreBundleAssets" false) -}}
                    <a href="{{ .Permalink }}" class="is-hoverable">
                      {{ partial "helpers/wrapped-image" (dict "width" 50 "height" 50 "image" $image "page" .Page "imageClass" "rounded-circle w-auto lazyload blur-up" "alt" .Title "convertTo" "webp" "loading" "lazy") -}}
                    </a>
                  {{ end -}}
                {{ end -}}
              {{ end -}}
            </div>
            <div class="flex-grow-1 ms-3"> by {{ if .Params.authors -}}{{ range $index, $author := .Params.authors -}}{{ if gt $index 0 -}}&nbsp;&amp;&nbsp;{{ end -}}<a class="text-link" href="{{ "/authors/" | absURL }}{{ . | urlize }}/">{{ . }}</a>{{ end -}}{{ end -}}
              <p class="mb-0 lh-base">Published at <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" -}}</time></p>
            </div>
          </div>
        </div>
      </div>

      {{ if $image -}}
      <div class="col-lg-12">
        {{ $image := partial "helpers/lib/image-handling/find-image-src" (dict "src" $image "page" .Page "getRelative" true "ignoreBundleAssets" false) }}
        {{ partial "helpers/wrapped-image" (dict "image" $image "page" .Page "imageClass" "w-100 h-auto lazyload blur-up" "alt" .Title "convertTo" "webp" "loading" "lazy") }}
      </div>
      {{ end -}}

      <div class="col-xl-9 col-lg-10">
        <div class="section">
          <div class="content">
            {{ .Content }}
          </div>
          <div class="d-block d-sm-flex justify-content-between align-items-center mt-5 pt-3">
          {{ if .Params.tags -}}
            <ul class="taxonomy-lists list-unstyled list-inline">
              <li class="list-inline-item d-block mb-3">Tags: </li>
            {{ range $index, $tag := .Params.tags -}}<li class="list-inline-item"><a class="bg-white" href="{{ "/tags/" | absURL }}{{ . | urlize }}/">{{ . }}</a></li>{{ end -}}
            </ul>
          {{ end -}}
          {{ partial "main/social-share.html" . }}
          </div>
        </div>
      </div>
    </div>
    {{ partial "main/related-posts.html" . }}
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
{{ partial "sidebar/newsletter.html" . }}
{{ end }}
