.footer {
  border-top: 1px solid $gray-200;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  color: $gray-darker;
}

.home .footer {
  border-top: 0;
}

.footer ul {
  margin-bottom: 0;
}

.footer li {
  font-size: $font-size-sm;
  margin-bottom: 0;
}

@include media-breakpoint-up(md) {
  .footer li {
    font-size: $font-size-base;
  }
}

.footer a {
  color: $gray-darker;
}

.footer a:hover,
.footer a:focus {
  color: $primary;
}
