@include media-breakpoint-down(md) {
  .th-navbar-toggler,
  .th-btn-close {
    color: $contrast;
    background: none;
    border: none;
    outline: none;
    padding: 0;
  }

  .th-navbar-toggler:hover,
  .th-navbar-toggler:focus,
  .th-navbar-toggler:active,
  .th-btn-close:hover,
  .th-btn-close:focus,
  .th-btn-close:active {
    border: 0;
    outline: none;
  }

  .offcanvas {
    bottom: auto;
    padding: 0.25rem 0.5rem;
  }

  .offcanvas.offcanvas-end {
    border-left: 0;
  }

  .offcanvas-backdrop.show {
    opacity: 1;
    background-color: rgba(17, 17, 17, 0.5);
    backdrop-filter: blur(8px);
  }
}

@include media-breakpoint-up(md) {
  header .nav-link {
    margin: 0 0.375rem;
  }

 header .nav-item:last-child .nav-link {
    margin: 0 0 0 0.375rem;
 }
}

.dropdown-menu {
  border: 1px solid $contrast-4;
  margin-left: 0.375rem;
  padding: 0 0.25rem;

  .dropdown-item {
    margin: 0.25rem 0;

    &:hover,
    &:focus,
    &:active {
      background-color: $base-2;
      border-radius: 0.25rem;
    }

    &.active {
      background-color: $base-2;
    }
  }
}

.dropdown-toggle::after {
  display: none;
}
