.navbar-brand {
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar-brand-center {
  @include mobile {
    margin-left: 2.125rem;
  }
}

.dropdown-item svg {
  margin-left: 0.25rem;
  margin-bottom: 0.25rem;
}
