/*
.content {
  .anchor {
    color: $blue-3800;
    font-size: inherit;
    opacity: 0;
    text-decoration: none;
    transition: color .16s linear;
    margin-left: 0.5rem;
    font-weight: normal;
  }

  h2:hover .anchor,
  h3:hover .anchor,
  h4:hover .anchor,
  h5:hover .anchor,
  h6:hover .anchor {
    opacity: 1;
    text-decoration: none;
  }
}
*/

.content {
  a {
    font-weight: 500;
  }

  .anchor {
    color: $link-color-dark;
    font-size: inherit;
    opacity: 0;
    text-decoration: none;
    transition: color 0.16s linear;
    margin-left: 0.5rem;
    font-weight: normal;
  }

  h2:hover .anchor,
  h3:hover .anchor,
  h4:hover .anchor,
  h5:hover .anchor,
  h6:hover .anchor {
    opacity: 1;
    text-decoration: none;
  }
}

@include media-breakpoint-up(lg) {
  .content {
    font-size: $font-size-base * 1.125;
  }
}

section:where(.section-home)::before {
  position: absolute;
  content: "";
  z-index: -1;
  top: 0%;
  bottom: 10%;
  width: 150%;
  left: -25%;
  background: url("/images/noise.webp") repeat, linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
  background-blend-mode: overlay;
  -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 70%);
  mask-image: radial-gradient(rgba(0, 0, 0, 0.5), transparent 70%);
}

.bg-grid {
  background-size: 20px 20px;
  background-image: linear-gradient(to right, #23262d 1px, transparent 1px), linear-gradient(to bottom, #23262d 1px, transparent 1px);
  background-position: top center;
  image-rendering: pixelated;
  -webkit-mask-image: linear-gradient(to bottom, transparent, 10%, white, 90%, transparent);
  mask-image: linear-gradient(to bottom, transparent, 10%, white, 90%, transparent);

  // -webkit-mask-image: linear-gradient(to bottom, white 0%, white 33%, transparent 90%);
  // mask-image: linear-gradient(to bottom, white 0%, white 33%, transparent 90%);
}

.inset-0 {
  inset: 0;
}

.noise-container {
  position: relative;
  isolation: isolate;

  /*
  background-color: #17191e;
  */
}

/*
.noise {
  z-index: -20;
  position: absolute;
  inset: 0;
  background-image: url("/images/noise.webp");
  opacity: 0.4;
  mix-blend-mode: overlay;
  pointer-events: none;
}
*/

.noise-underlay {
  z-index: -30;
  position: relative;
}

/*
.bg-blue-green-gradient {
  background-image: linear-gradient(247.23deg, #4af2c8 0%, #2f4cb3 100%);
}

.bg-blue-purple-gradient {
  background-image: linear-gradient(83.21deg, #3245ff 0%, #b845ed 100%);
}

.bg-orange-yellow-gradient {
  background-image: linear-gradient(266.93deg, #f8e42e 0%, #ff7d54 100%);
}

.bg-red-pink-gradient {
  background-image: linear-gradient(66.77deg, #d83333 0%, #f041ff 100%);
}
*/

.bg-blue-green-gradient {
  background-image: linear-gradient(to right, #58a6ff, #56d364);
}

.bg-blue-purple-gradient {
  background-image: linear-gradient(to right, #58a6ff, #bc8cff);
}

.bg-orange-yellow-gradient {
  background-image: linear-gradient(to right, #ff7b72, #f0883e);
}

.bg-pink-blue-gradient {
  background-image: linear-gradient(to right, #f778ba, #58a6ff);
}

.bg-purple-orange-gradient {
  background-image: linear-gradient(to right, #bc8cff, #ff7b72);
}

.meta-blog {
  margin-top: 1.5rem;
}

.meta-blog a {
  text-decoration: none;
  color: $body-color-dark;
}

.meta-blog a:hover {
  color: $white;
}

a.text-link {
  text-decoration: none;
  color: $body-color-dark;
}

a.text-link:hover {
  color: $body-color-dark;
}


.single.section.themes {
  a.text-link {
    text-decoration: none;
    color: $white;
  }

  a.text-link:hover {
    color: $body-color-dark;
  }
}

hr {
  color: var(--sl-color-gray-6);
  opacity: 1;
}

.prose hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  @include media-breakpoint-up(lg) {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

.single.blog hr {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  @include media-breakpoint-up(lg) {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  }
}

.col-blog {
  padding: 3rem 3rem 0;
  margin-top: -14rem;
  background: $body-bg-dark;
  max-width: 90%;

  @include media-breakpoint-up(md) {
    padding: 5rem 3rem 0;
    margin-top: -20rem;
  }
}

.col-blog-image {
  position: relative;
  padding: 3rem 3rem 0;
  background: $body-bg-dark;

  @include media-breakpoint-up(lg) {
    margin-top: -2rem;
    padding-top: 2rem;
  }

  @include media-breakpoint-up(xl) {
    margin-top: -3rem;
    padding-top: 3rem;
  }

  @include media-breakpoint-up(xxl) {
    margin-top: -4rem;
    padding-top: 4rem;
  }
}

@include media-breakpoint-down(lg) {
  .col-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

.col-fluid .img-fluid {
  margin-top: -0.25rem;
}

.list-tags {
  margin-top: 3rem;
}

.btn-tag-wrapper {
  background: linear-gradient(247.23deg, rgba(74, 242, 200, 1) 0%, rgba(47, 76, 179, 1) 100%);
  background: linear-gradient(270deg,rgb(248,228,46),rgb(255,125,84));
  background-image: linear-gradient(to right, #58a6ff, #bc8cff);
  padding: 0.0625rem;
}

.btn-tag {
  background: rgb(35, 38, 45) linear-gradient(247.23deg, rgba(74, 242, 200, 0.2) 0%, rgba(47, 76, 179, 0.2) 100%);
  background: rgb(35,37,45) linear-gradient(270deg,rgba(248,228,46,.2),rgba(255,125,84,.2));
  background: var(--sl-color-gray-5);
  padding: 0.125rem 0.625rem;
}

/*
.btn-tag:hover {
  background: $gray-4000;
}

.btn-tag-wrapper .btn-tag:active {
  background: $gray-4000;
  border-color: transparent;
}
*/

.col-sidebar {
  flex: 0 0 auto;
  width: 100%;

  @include media-breakpoint-up(lg) {
    max-width:20rem
  }

  @include media-breakpoint-up(xl) {
    max-width:24rem
  }
}

@include media-breakpoint-up(xl) {
  .col-sidebar.col-themes {
    max-width:28rem;
  }
}

.col-main {
  flex: 0 0 auto;
  width: 100%;

  @include media-breakpoint-up(md) {
    max-width: 48rem;
  }

  @include media-breakpoint-up(lg) {
    max-width: calc(100% - 5rem);
  }

  @include media-breakpoint-up(xl) {
    max-width: 48rem;
  }
}

.col-main-section {
  flex: 0 0 auto;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;;

  @include media-breakpoint-up(md) {
    padding-left: 2rem;
    padding-right: 2rem;;
  }

  @include media-breakpoint-up(xl) {
    max-width: 100rem;
  }
}

@include media-breakpoint-up(xl) {
  .showcase .col-main-section {
    max-width: 80rem;
  }
}

.border-top {
  border-top: 1px solid var(--sl-color-gray-6) !important;
}

.border-end {
  border-right: 1px solid var(--sl-color-gray-6) !important;
}

.border-bottom {
  border-bottom: 1px solid var(--sl-color-gray-6) !important;
}

.border-start {
  border-left: 1px solid var(--sl-color-gray-6) !important;
}

.home {
  h1.display-1 {
    line-height: 1.1;
  }

  p.lead {
    line-height: 1.625;
  }

  .actions {
    margin-top: 2.5rem;
  }

  a.btn span {
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    /*
    display: inline-block;
    background-image: linear-gradient(83.21deg, #3245ff 0%, #b845ed 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    */

    font-size: 1.0625rem;
    font-weight: 400;
  }

  /*
  .highlight {
    padding: 2px;
    background-image: linear-gradient(66.77deg, var(--sl-color-blue) 0%, var(--sl-color-purple) 100%);
    background-image: linear-gradient(to right, #ff7b72, #f0883e);
  }
  */

  .highlight pre {
    border: 2px solid var(--sl-color-gray-5);

    /*
    border: 2px solid $link-color-dark;
    */

    border-radius: 0;
    margin-bottom: 0;
    padding: 0.625rem 4.375rem 0.625rem 1.125rem;
    background: $body-bg-dark;
  }

  .highlight pre code {
    font-size: 1.0625rem;
  }

  .code-block code::before {
    content: ">";
    float: left;
    margin-right: 0.75rem;
    color: $body-color-dark;
  }

}


@include color-mode(dark) {
  .home {
    // Clipboard button
    .btn-clipboard {
      opacity: 1;
      position: absolute;
      right: 0.625rem;
      top: 0.5rem;
      color: $body-color-dark;
      background-color: transparent;
      border-color: transparent;
    }

    // Clipboard icon
    .btn-clipboard::after {
      background-color: $body-color-dark;
      -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-copy' width='22' height='22' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z'%3E%3C/path%3E%3Cpath d='M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2'%3E%3C/path%3E%3C/svg%3E") no-repeat 50% 50%;
      mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-copy' width='22' height='22' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z'%3E%3C/path%3E%3Cpath d='M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2'%3E%3C/path%3E%3C/svg%3E") no-repeat 50% 50%;
      -webkit-mask-size: cover;
      mask-size: cover;
    }

    // Clipboard button
    .btn-clipboard:hover {
      color: $body-color-dark;
      background-color: transparent;
      border-color: transparent;
      transform: scale(1.1);
      transition-property: color, background-color, border-color;
      transition-timing-function: cubic-bezier(.4,0,.2,1);
      transition-duration: .15s;
    }

    // Clipboard icon
    .btn-clipboard:hover::after {
      background-color: $body-color-dark;
      -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-copy' width='22' height='22' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z'%3E%3C/path%3E%3Cpath d='M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2'%3E%3C/path%3E%3C/svg%3E") no-repeat 50% 50%;
      mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='icon icon-tabler icon-tabler-copy' width='22' height='22' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M8 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z'%3E%3C/path%3E%3Cpath d='M16 8v-2a2 2 0 0 0 -2 -2h-8a2 2 0 0 0 -2 2v8a2 2 0 0 0 2 2h2'%3E%3C/path%3E%3C/svg%3E") no-repeat 50% 50%;
      -webkit-mask-size: cover;
      mask-size: cover;
    }

    // Clipboard button
    .btn-clipboard:focus,
    .btn-clipboard:active {
      border-color: transparent !important;
    }

    // Check icon
    .btn-clipboard:focus::after,
    .btn-clipboard:active::after {
      background-color: $body-color-dark;
      -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M5 12l5 5l10 -10'%3E%3C/path%3E%3C/svg%3E") no-repeat 50% 50%;
      mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M5 12l5 5l10 -10'%3E%3C/path%3E%3C/svg%3E") no-repeat 50% 50%;
      -webkit-mask-size: cover;
      mask-size: cover;
    }
  }
}

@include media-breakpoint-down(md) {
  .content {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@include media-breakpoint-down(lg) {
  .home h1.display-1 {
    font-size: 3.5rem;
  }

  p.lead {
    font-size: $font-size-base;
  }
}

p.meta,
p.meta-tags {
  font-size: 0.9375rem;
  color: var(--sl-color-gray-1);
}

@include media-breakpoint-up(lg) {
  p.meta {
    font-size: 1.0625em;
  }

  p.meta-tags {
    font-size: 1rem;
  }

  p.lead {
    font-size: $font-size-xl;
  }
}

.page-header {
  margin-bottom: 3rem;

  @include media-breakpoint-up(lg) {
    margin-bottom: 4rem;
  }
}

.container-features {
  max-width: 78rem;
}

.text-sponsors{
  margin-bottom: 2rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 3rem;
  }
}

.container-sponsors {
  max-width: 50rem;

  @include media-breakpoint-up(lg) {
    svg {
      width: 125px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .prose {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.prose h1 {
  margin-top: 1.5rem;

  @include media-breakpoint-up(lg) {
    margin-top: 3rem;
  }
}

.prose p {
  font-size: 1rem;

  @include media-breakpoint-up(lg) {
    font-size: 1.125rem;
  }
}

.prose p.lead {
  font-size: 1.125rem;

  @include media-breakpoint-up(lg) {
    font-size: 1.25rem;
  }
}

.prose ul li,
.single.blog .content ul:not(.list-normal, .list-task) li {
  font-size: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  list-style-type: none;


  @include media-breakpoint-up(lg) {
    font-size: 1.125rem;
  }
}

.prose ul li::before,
.single.blog .content ul:not(.list-normal, .list-task) li::before {
  content: "";
  background: url("/svgs/star.svg") center no-repeat;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  margin-left: -18px;
}

.list-task {
  padding-left: 0;
  list-style: none;
}

p.themes-meta {
  font-size: 0.9375rem;
}

.showcase {
  a.btn span {
    padding-left: 1.25rem;
    padding-right: 1.25rem;

    /*
    display: inline-block;
    background-image: linear-gradient(83.21deg, #3245ff 0%, #b845ed 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    */

    font-size: 1.0625rem;
    font-weight: 400;
  }
}
