.single:not(.home) .content {
    h1,
    h2:not(.card-title),
    h3,
    h4,
    h5,
    h6 {
        margin-top: clamp(48px, 6.4vw, 64px);
        margin-bottom: clamp(21px, 2.4vw, 24px);
    }
}

.page-content {
    padding: 0;
}

.pagination {
    margin-top: 5rem !important;
}
