.pre-content {
  font-size: 18px;
  line-height: 1.7;

  .toc {
    font-size: 16px;
  }

  @include tablet {
    font-size: 16px;
    line-height: 1.55;
  }

  a.text-link {
    font-weight: 400;

    @extend .active;
  }
}

.content h2 a.anchor,
.content h3 a.anchor,
.content h4 a.anchor,
.content h5 a.anchor {
  background: none;
  display: none;
  margin-left: 0.25rem;
}

.content h2:hover a.anchor,
.content h3:hover a.anchor,
.content h4:hover a.anchor,
.content h5:hover a.anchor {
  display: inline;
}

.post-content {
  font-size: 18px;
  margin-top: 3rem;

  @include tablet {
    font-size: 16px;
    margin-top: 2rem;
  }
}

.text-link.lead svg {
  display: inline-block;
  transition: 0.25s;
}

.text-link.lead:hover svg {
  transform: rotate(45deg) translateX(2px);
}

.section-sidebar,
.section-toc {
  position: sticky;
  top: 12rem;
  max-height: calc(100vh - 12rem);
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $light;
  }
}

.section-sidebar:hover,
.section-toc:hover {
  scrollbar-width: thin;
  scrollbar-color: $light transparent;
}

.section-sidebar:hover::-webkit-scrollbar-thumb,
.section-toc:hover::-webkit-scrollbar-thumb {
  background: $light;
}

.features-list {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.features-list a {
  font-size: 16px;
}

.archive-post-item:first-child a {
  border-top-left-radius: var(--bs-border-radius);
  border-top-right-radius: var(--bs-border-radius);
}

.archive-post-item:last-child a {
  border-bottom-right-radius: var(--bs-border-radius) !important;
  border-bottom-left-radius: var(--bs-border-radius) !important;
}

.section-menu {
  .btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.5rem 0.25rem 0;

    // font-weight: $headings-font-weight;
    // font-size: $font-size-base;
    color: $body-color;
    background-color: transparent;
    border: 0;
  }

  .btn-toggle:hover,
  .btn-toggle:focus {
    color: $body-color;
    background-color: transparent;
    outline: 0;
    box-shadow: none;
  }

  .btn-toggle::before {
    width: 1.25em;
    line-height: 0;

    // content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%2829, 45, 53, 0.75%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpolyline points='9 6 15 12 9 18' /%3E%3C/svg%3E");
    transition: transform 0.25s ease;
    transform-origin: 0.5em 50%;
    margin-bottom: 0.125rem;
  }

  .btn-toggle[aria-expanded="true"] {
    color: $body-color;
  }

  .btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
  }

  .btn-toggle-nav a {
    display: inline-flex;

    /*
    padding: 0.1875rem 0.5rem;
    margin-top: 0.125rem;
    margin-left: 1.25rem;
    */
    padding: 0.125rem 0.5rem;
    margin: 0.0625rem 0 0.0625rem 1.25rem;
    text-decoration: none;
  }

  .btn-toggle-nav a:hover,
  .btn-toggle-nav a:focus {
    background-color: transparent;
  }

  .btn-toggle-nav a.active {
    font-weight: $headings-font-weight;
  }
}

.toc ul {
  padding-left: 0;
  list-style: none;
}

.toc li {
  margin-top: 0.25rem;
  padding-top: 0.25rem;
}

.toc li ul li {
  padding-left: 1rem;
  margin-top: 0.125rem;
  padding-top: 0.125rem;
}

.section-menu:not(.section-menu-default) {
  li {
    margin-top: 0.25rem;
    padding-top: 0.25rem;
  }
}

.lead-text {
  margin-bottom: 2rem;
}

.on-this-page {
  margin-bottom: 1.75rem;
}

.feature-icon {
  /*
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  */

  font-size: 1.52rem;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.3 9h13.4M9 15.8V2.2M5.6 5.6l6.8 6.8M5.6 12.4l6.8-6.8' stroke='%23ddac6b' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0;
  background-size: 24px;
  width: 24px;
  height: 24px;
  margin-bottom: 0.75rem;
}

@include media-breakpoint-up(xl) {
  .w-main {
    width: calc(7 / 9 * 100%) !important;
  }

  .w-toc {
    width: calc(2 / 9 * 100%) !important;
  }
}

.demo-link {
  margin-bottom: 2rem;
}

.showcase-type {
  padding-top: 0.625rem;
  padding-bottom: 0.5rem;
}

.section-link.active {
  font-weight: 500;
}

.social-links .text-link {
  margin-left: 0.25rem;
}

.card-sponsor {
  min-height: 7rem;
}

.content ul.list-unstyled li {
  padding-left: 0;

  &::before {
    background: none;
  }
}

.content ul.list-toolbox li {
  padding-left: 2rem;

  &::before {
    background: none;
    content: "🧰";
    height: 1rem;
    width: 1rem;
    position: absolute;
    left: 0;
    top: -0.125rem;
  }
}

.content ul.list-books li {
  padding-left: 2rem;

  &::before {
    background: none;
    content: "📚";
    height: 1rem;
    width: 1rem;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.content ul.list-speech-balloon li {
  padding-left: 2rem;

  &::before {
    background: none;
    content: "💬";
    height: 1rem;
    width: 1rem;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.content ul.list-package li {
  padding-left: 2rem;

  &::before {
    background: none;
    content: "📦";
    height: 1rem;
    width: 1rem;
    position: absolute;
    left: 0;
    top: 0.125rem;
  }
}
