.img svg,
.img img {
  margin: 0;
  width: 100%;
  height: auto;
}

.img {
  position: relative;
}

.img img {
  position: absolute;
  top: 0;
  left: 0;
}

.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 300ms, -webkit-filter 300ms;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.entry-content img {
  border-radius: 0.4rem;
  box-shadow: 0 0 1rem rgba(46, 56, 66, 0.075);
  cursor: default;
  display: block;
}

@media (min-width: 600px) {
  .entry-content .alignnone {
    max-width: calc(100vw - 8rem);
    position: static;
    left: calc(50% - 50vw + 4rem);
  }
}

.figure-caption {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  line-height: 1.25;
  font-weight: 500;
}
