.clipboard {
  position: relative;
  float: right;
}

.btn-clipboard {
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  line-height: 1;
  padding: 0.25rem;
}

.home .btn-clipboard {
  opacity: 1;
}

.home .code-snippet:hover .btn-clipboard {
  opacity: 1;
}

.home .btn-clipboard::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2'%3E%3C/path%3E%3Crect x='9' y='3' width='6' height='4' rx='2'%3E%3C/rect%3E%3C/svg%3E");
  display: inline-block;
}

.home .btn-clipboard:hover::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2'%3E%3C/path%3E%3Crect x='9' y='3' width='6' height='4' rx='2'%3E%3C/rect%3E%3C/svg%3E");
  display: inline-block;
}

.home .btn-clipboard:focus::after,
.home .btn-clipboard:active::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M5 12l5 5l10 -10'%3E%3C/path%3E%3C/svg%3E");
  display: inline-block;
}

@media (min-width: 767px) {
  .code-snippet:hover .btn-clipboard {
    opacity: 1;
  }

  .btn-clipboard::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2'%3E%3C/path%3E%3Crect x='9' y='3' width='6' height='4' rx='2'%3E%3C/rect%3E%3C/svg%3E");
    display: inline-block;
  }

  .btn-clipboard:hover::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2'%3E%3C/path%3E%3Crect x='9' y='3' width='6' height='4' rx='2'%3E%3C/rect%3E%3C/svg%3E");
    display: inline-block;
  }

  .btn-clipboard:focus::after,
  .btn-clipboard:active::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'%3E%3C/path%3E%3Cpath d='M5 12l5 5l10 -10'%3E%3C/path%3E%3C/svg%3E");
    display: inline-block;
  }
}

.nav-tabs {
  border-bottom: 0.0625rem solid rgba(85, 85, 85, 0.25);
}

.nav-tabs .nav-link {
  margin-bottom: -0.0625rem !important;
  background: none;
  border: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  color: inherit;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  isolation: isolate;
  border-color: transparent;
  color: $dark !important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: $dark;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 0.0625rem solid $dark;
}

.btn-primary {
  background: linear-gradient(180deg, rgba(183, 52, 179, 0.15) 0%, rgba(164, 46, 156, 0) 100%), #6e40c9 !important;
  font-weight: 400;
}

.btn-primary:hover {
  text-decoration: none;
  box-shadow: $color-mktg-btn-shadow-hover !important;
}
