pre {
  scrollbar-width: thin;
  scrollbar-color: #ddd $light;

  &::-webkit-scrollbar {
    height: 5px;
  }

  &::-webkit-scrollbar-track {
    background: $light;
  }

  &::-webkit-scrollbar-thumb {
    background: #ddd;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
  }
}

.content pre {
  background: $white;
  white-space: pre;
}

code.hljs {
  padding: 0;
}

pre code.hljs {
  display: inline;
  overflow-x: auto;
  padding: 0;
}
