pre {
  scrollbar-width: thin;
  scrollbar-color: #ddd $light;
}

.content pre {
  background: $white;
  white-space: pre;
}

code.hljs {
  padding: 0;
}

pre code.hljs {
  display: inline;
  overflow-x: auto;
  padding: 0;
}

pre::-webkit-scrollbar {
  height: 5px;
}

pre::-webkit-scrollbar-track {
  background: $light;
}

pre::-webkit-scrollbar-thumb {
  background: #ddd;
}

pre::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
}
