img[data-sizes="auto"] {
  display: block;
  width: 100%;
}

.figure {
  display: block;
}

.blur-up {
  filter: blur(5px);
  transition: filter 400ms;
}

.blur-up.lazyloaded {
  filter: unset;
}

.img-creator {
  width: 1.5rem;
  height: 1.5rem;
}
