<ul class="nav nav-taxonomies justify-content-center">
  {{- $current := . -}}
  {{- $title := $current.Title | urlize -}}
  <li class="nav-item">
    <a class="nav-link{{ if .IsHome }} active{{ end }}"{{ if .IsHome }} aria-current="page"{{ end }} href="/integrations/">All ({{ len (where site.RegularPages "Section" "==" "integrations") }})</a>
  </li>
  {{ range site.Taxonomies.sorts.Alphabetical }}
    {{- $active := eq .Name $title -}}
    <li class="nav-item">
      <a class="nav-link{{ if $active }} active{{ end }}"{{ if $active }} aria-current="page"{{ end }} href="{{ .Page.Permalink }}">{{ .Page.LinkTitle }} ({{ .Count }})</a>
    </li>
  {{ end }}
</ul>
