<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  {{ block "head" . }}{{ partial "head/head.html" . }}{{ end }}

  <body{{ with .Params.layout }} class="{{ . }}"{{ end }}>
    {{ block "header" . }}{{ partial "header/header.html" . }}{{ end }}
    {{ block "search" . }}{{ partial "header/search.html" . }}{{ end }}
    {{ block "sidebar" . }}{{ partial "sidebar/sidebar.html" . }}{{ end }}


    {{ block "main" . }}{{ end }}

          
    {{ block "footer" . }}{{ partial "footer/footer.html" . }}{{ end }}
    {{ block "script-footer" . }}{{ partial "footer/script-footer.html" . }}{{ end }}
  </body>
</html>