<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}" data-bs-theme="{{ site.Params.starter.colorMode | default "auto" }}">
  {{ partial "head/head" . }}
  {{ partial "head/body-class" . }}
  <body class="{{ delimit (.Scratch.Get "class") " " }}{{- if eq .Type "landing" }} landing{{ end -}}">
    {{- if ne .Type "landing" }}
      {{ if site.Params.starter.alert -}}
        {{ partial "header/alert" . }}
      {{ end -}}
      {{ partial "header/header" . }}
    {{- else }}
      {{ partial "header/header-landing" . }}
    {{- end }}
    {{ block "main" . }}{{ end }}
    {{ block "sidebar-prefooter" . }}{{ end }}
    {{ block "sidebar-footer" . }}{{ end }}
    {{- if ne .Type "landing" }}
      {{ partial "footer/footer" . }}
    {{- else }}
      {{ partial "footer/footer-landing" . }}
    {{- end }}
    {{ if templates.Exists "partials/footer/script-footer.html" -}}
      {{ partial "footer/script-footer" . }}
    {{ else -}}
      {{ partial "footer/script-footer-core" . }}
    {{ end -}}
    {{ if site.Params.starter.toTopButton -}}
      {{ partial "footer/to-top" . }}
    {{ end -}}
  </body>
</html>
