{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 d-none d-lg-block">
        <div class="section-sidebar">
          <h2 class="h5">{{ .Section | humanize }}</h2>
          {{ partial "sidebar/showcase-navigation.html" . }}
        </div>
      </div>
      <div class="col-lg-9">
        <div class="row g-0 justify-content-center">
          <div class="col-12">
            <div class="row gy-2 align-items-center section-title mb-0 section py-0">
              <div class="col-12">
                <div class="wrapper-image">
                  {{ $image := .Resources.GetMatch (printf "**%s" (index .Params.images 0)) }}
                  {{ $image := partial "helpers/lib/image-handling/find-image-src" (dict "src" $image "page" .Page "getRelative" true "ignoreBundleAssets" false) }}
                  {{ partial "helpers/wrapped-image" (dict "image" $image "page" .Page "imageClass" "w-100 h-auto lazyload blur-up" "alt" .Title "convertTo" "jpg" "loading" "lazy") }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="w-main">
            {{ partial "main/meta-showcase.html" . }}

            <h1 class="mb-3">{{ .Title }}</h1>
            <div class="pre-content">
              <p class="lead-text">{{ .Params.lead | safeHTML }}</p>
              <div class="website-link">
                <a target="_blank" class="text-link lead" href="{{ .Params.website }}">Website <svg xmlns="http://www.w3.org/2000/svg" class="mb-1" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="17" y1="7" x2="7" y2="17"></line><polyline points="8 7 17 7 17 16"></polyline></svg></a>
              </div>
              {{ if and (ne .Params.toc false) (ne .TableOfContents "<nav id=\"TableOfContents\"></nav>") -}}
                <div class="d-xl-none">
                  {{ partial "sidebar/toc-mobile.html" . }}
                </div>
              {{ end -}}
            </div>
            <div class="content">
              {{ partial "main/headline-hash.html" .Content }}
            </div>
            <div class="post-content">

              {{ partial "main/features-list.html" . }}
              {{ partial "main/section-navigation.html" . }}
            </div>
          </div>
          {{ if and (ne .Params.toc false) (ne .TableOfContents "<nav id=\"TableOfContents\"></nav>") -}}
          <div class="d-none d-xl-block w-toc">
            <div class="section-sidebar">
              <h2 class="h5">On this page</h2>
              {{ partial "sidebar/toc-desktop.html" . }}
            </div>
          </div>
          {{ end -}}
        </div>
      </div>

    </div>
  </div>
</section>
{{ end }}
