{{ define "main" }}
  {{- if eq .Slug "norrsken" }}
    {{ partial "landing/norrsken/main" . }}
  {{- else if eq .Slug "anna" }}
    {{ partial "landing/anna/main" . }}
  {{- else if eq .Slug "vermeer" }}
    {{ partial "landing/vermeer/main" . }}
  {{- end }}
{{ end }}

{{ define "sidebar-footer" }}
  {{- if eq .Slug "norrsken" }}
    {{ partial "landing/norrsken/footer" . }}
  {{- else if eq .Slug "anna" }}
    {{ partial "landing/anna/footer" . }}
  {{- else if eq .Slug "vermeer" }}
    {{ partial "landing/vermeer/footer" . }}
  {{- end }}
{{ end }}
