{{ if or .IsHome (eq .Type "blog") (eq .Type "categories") (eq .Type "tags") (eq .Type "authors") }}


<section class="section position-relative22">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-10 text-center">


          <div class="card card-cta-lg">
            <div class="card-body">
          <h2 class="display-6 fw-normal text-white">Let's keep in touch</h2>
          <p>Enter your email to stay up to date with the latest updates from Thulite.</p>
                    {{ partial "main/newsletter-form" }}


            </div>
          </div>

      </div>
    </div>
  </div>
</section>


{{ end }}

<footer>
  <div class="container">
    <div class="row nav-secondary">
      <div class="col-md-3 col-lg-2 order-md-1 ms-md-auto">
        <ul class="nav-social list-inline text-md-end">
        {{ range .Site.Menus.social -}}
          <li class="list-inline-item">
            <a rel="me" href="{{ .URL | absURL }}" target="_blank">{{ .Pre }}<span class="visually-hidden">{{ .Name }}</span></a>
          </li>
        {{ end -}}
        </ul>
      </div>
      <div class="col-6 col-md-3 col-lg-2">
        <h3 class="font-monospace">Documentation</h3>
        <ul class="list-unstyled">
        {{ range .Site.Menus.documentation -}}
          <li>
            <a href="{{ .URL | absURL }}">{{ .Name }}</a>
          </li>
        {{ end -}}
        </ul>
      </div>
      <div class="col-6 col-md-3 col-lg-2">
        <h3 class="font-monospace">Resources</h3>
        <ul class="list-unstyled">
        {{ range .Site.Menus.resources -}}
          <li>
            <a href="{{ .URL | absURL }}">{{ .Name }}</a>
          </li>
        {{ end -}}
        </ul>
      </div>
      <div class="col-6 col-md-3 col-lg-2">
        <h3 class="font-monospace">Community</h3>
        <ul class="list-unstyled">
        {{ range .Site.Menus.community -}}
          <li>
            <a href="{{ .URL | absURL }}">{{ .Name }}</a>
          </li>
        {{ end -}}
        </ul>
      </div>
      <!--
      <div class="col-6 col-md-3 col-lg-2">
        <h3 class="font-monospace">About</h3>
        <ul class="list-unstyled">
        {{ range .Site.Menus.about -}}
          <li>
            <a href="{{ .URL | absURL }}">{{ .Name }}</a>
          </li>
        {{ end -}}
        </ul>
      </div>
      -->
      <div class="col-6 col-md-3 col-lg-2">
        <h3 class="font-monospace">Other</h3>
        <ul class="list-unstyled">
        {{ range .Site.Menus.links -}}
          <li>
            <a href="{{ .URL | absURL }}">{{ .Name }}</a>
          </li>
        {{ end -}}
        </ul>
      </div>
    </div>
    <hr>
    <div class="row nav-tertiary">
      <div class="col-md-6">
        <ul class="list-inline text-center text-md-start">
          {{ range .Site.Menus.legal -}}
            <li class="list-inline-item">
              <a href="{{ .URL | absURL }}">{{ .Name }}</a>
            </li>
          {{ end -}}
          </ul>
      </div>
      <div class="col-md-6">
        <p class="m-0 text-center text-md-end">{{ site.Params.starter.footer | safeHTML }}</p>
      </div>
    </div>
  </div>
</footer>
