{{ define "main" }}
<main id="site-content" class="center-vertically" role="main">
	<header class="page-header section-inner thin">
		<h1 class="page-title mfs-30 tfs-40 weight-bold lining-numerals letterspacing-decr-1 hentry text-align-center">Error 404</h1>
		<p class="page-subtitle mfs-19 tfs-22 line-height-paragraph text-align-center">The page could not be found. It might have been renamed or deleted, or maybe it didn't exist in the first place.</p>
		<ul class="arrow-list-circled horizontal centered reset-list-style mfs-16 lining-numerals" role="navigation">
			<li><a href="{{ .Site.BaseURL }}">Start page</a></li>
		</ul>
	</header>
</main>
{{ end }}
