<section class="section noise-container border-bottom">
  <div class="noise"></div>
  <div class="bg-grid position-absolute inset-0 z-n1"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-lg-7 text-center">
        <h1 class="display-2 fw-normal">
          {{ if eq .CurrentSection .FirstSection }}
            {{ .Summary }}
          {{ else -}}
            {{ .Title }}
            <p class="lead">{{ .Summary }}</p>
          {{ end -}}
        </h1>
      </div>
    </div>
  </div>
</section>

<section class="noise-container">
  <div class="noise"></div>

  <div class="container-fluid">
    <div class="row">

      <div class="col col-sidebar border-end p-0 order-1 order-lg-0">

        <!--
        <div class="sidebar-section border-bottom px-4 py-5 p-lg-5">
          <h3 class="h5 font-monospace fw-normal">Featured</h3>
          <ul class="list-unstyled">
            {{ range first 3 (where (where .Site.RegularPages "Section" "integrations" ) "Params.featured" "=" true) }}
              <li>
                <a href="{{ .Params.docs }}" target="_blank">{{.Title}}</a>
              </li>
            {{ end }}
          </ul>
        </div>
        -->

        <div class="sidebar-section border-bottom px-4 py-5 p-lg-5">
          <h3 class="h5 font-monospace fw-normal">Categories</h3>
          {{ partial "sidebar/taxonomy-navigation" (dict "taxonomy" "sorts" "section" "integrations") }}
        </div>

        <div class="sidebar-section px-4 py-5 p-lg-5 bg-dark">
          <h3 class="h5 font-monospace fw-normal">Submit an integration</h3>
          <p class="text-sidebar">Anyone can submit an integration to Hyas!</p>
          <a target="_blank" rel="noopener noreferer" class="btn btn-outline-light btn-action rounded-pill w-100" href="https://github.com/orgs/gethyas/discussions/new?category=integrations" role="button">Submit integration</a>
        </div>
      </div>

      <div class="col">

        <div class="row row-themes justify-content-center py-5">
          <div class="col-main-section">

            <!--
            {{ if eq .CurrentSection .FirstSection -}}
            <h2 class="mb-3">Featured</h2>
            <div class="row row-flex">
              {{ range first 3 (where (where .Site.RegularPages "Section" "integrations" ) "Params.featured" "=" true) }}
              <div class="col-md-6 col-xl-4">
                {{ .Render "item" }}
              </div>
              {{ end -}}
            </div>
  
            <h2 class="my-3">All</h2>
            {{ end -}}
            -->

            <div class="row row-flex">
              {{ range .Paginator.Pages.ByTitle -}}
              <div class="col-md-6 col-xl-4">
                {{ .Render "item" }}
              </div>
              {{ end -}}
            </div>
 
          </div>
        </div>

      </div>
      
    </div>
  </div>
</section>
