.home #site-search,
.docs.list #site-search {
  box-shadow: none;
}

.home #search-results-cover {
  display: block;
}

.docs.list #search-results-cover {
  display: none;
}

@media (min-width: 1000px) {
  .home #site-search,
  .docs.list #site-search {
    position: fixed;
  }
}
