.page #site-content {
  padding-top: 4rem;
}

.home #site-content,
.error404 #site-content {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media (min-width: 600px) {
  .page #site-content {
    background: url(./assets/images/icon-pattern.svg) no-repeat center -5rem;
    background-size: contain;
    padding-bottom: 6rem;
    padding-top: 12rem;

    /*
    background: initial;
    */
  }

  .home #site-content,
  .error404 #site-content {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.hanchor {
  font-size: 100%;
  visibility: hidden;
  text-decoration: none;
  padding-left: 1rem;
  font-weight: normal;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
  visibility: visible;
}

.docs-single .page-header {
  max-width: 73rem;
}

.entry-content a:hover,
.word-bottom-meta a:hover {
  color: #2c359f;
}

.entry-content a[href*="//"]:not([href*="localhost"]):not([href*="gethyas.com"])::after,
.logged-in .entry-content a[data-broken-word-link]::after {
  background: no-repeat center;
  background-size: 1.5rem auto;
  content: "";
  display: inline-block;
  height: 1.5rem;
  margin: 0 0.1rem 0 0.5rem;
  position: relative;
  bottom: -0.2rem;
  width: 1.5rem;
}

.entry-content a[href*="//"]:not([href*="localhost"]):not([href*="gethyas.com"])::after {
  background-image: url(./assets/images/icons/arrow-external-blue.svg);
}

.entry-content a[href*="//"]:not([href*="localhost"]):not([href*="gethyas.com"]):hover::after {
  background-image: url(./assets/images/icons/arrow-external-blue-dark.svg);
}

@media print {
  .entry-content a[href*="//"]:not([href*="localhost"]):not([href*="gethyas.com"])::after {
    content: none;
  }
}

.page-links {
  display: none;
}

@media (min-width: 600px) {
  .page-links {
    display: block;
  }

  .page-links ul:first-child {
    margin: 0 0 2rem 0;
  }

  .page-links li {
    list-style: none;
  }
}

.home #site-content .arrow-list-circled {
  margin-top: 1.8rem;
}

.home #site-content .section-inner {
  max-width: 43rem;
}

@media (min-width: 750px) {
  .home #site-content .page-subtitle {
    margin: 2.2rem 0 2.5rem;
  }
}

.arrow-list-circled a:before {
	background: url( ./assets/images/icons/arrow-circled-right-blue.svg ) no-repeat center;
  /* 
  content: "";
  */
	display: block;
	height: 3.2rem;
	margin-right: 1rem;
	width: 3.2rem;
}

.arrow-list a:before {
	background: url( ./assets/images/icons/arrow-right-blue.svg ) no-repeat center;
  /* 
  content: "";
  */
	display: block;
	height: 1.8rem;
	position: absolute;
		right: 0;
		top: 50%;
	transform: translateY( -50% );
	width: 2.2rem;
}
