.page #site-content {
  padding-top: 4rem;
}

.home #site-content,
.error404 #site-content {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

@media (min-width: 600px) {
  .page #site-content {
    background: url(./assets/images/icon-pattern.svg) no-repeat center -5rem;
    background-size: contain;
    padding-bottom: 6rem;
    padding-top: 12rem;

    /*
    background: initial;
    */
  }

  .home #site-content,
  .error404 #site-content {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

.hanchor {
  font-size: 100%;
  visibility: hidden;
  text-decoration: none;
  padding-left: 1rem;
  font-weight: normal;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
  visibility: visible;
}

.docs-single .page-header {
  max-width: 73rem;
}

.entry-content a:hover,
.word-bottom-meta a:hover {
  color: #2c359f;
}

.entry-content a[href*="//"]:not([href*="localhost"]):not([href*="gethyas.com"]):after,
.logged-in .entry-content a[data-broken-word-link]:after {
  background: no-repeat center;
  background-size: 1.5rem auto;
  content: "";
  display: inline-block;
  height: 1.5rem;
  margin: 0 0.1rem 0 0.5rem;
  position: relative;
  bottom: -0.2rem;
  width: 1.5rem;
}

.entry-content a[href*="//"]:not([href*="localhost"]):not([href*="gethyas.com"]):after {
  /*
  background-image: url( ./assets/images/icons/arrow-external-blue.svg );
  */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1h4v1H1v8h8V7h1v4H0V1zm9.304 0h-3.3V0h5v5h-1V1.713L4.947 6.771l-.707-.707L9.304 1z' fill='%233C48D5' fill-rule='nonzero'/%3E%3C/svg%3E");
}

.entry-content a[href*="//"]:not([href*="localhost"]):not([href*="gethyas.com"]):hover:after {
  /*
  background-image: url( ./assets/images/icons/arrow-external-blue-dark.svg );
  */
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 11' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 1h4v1H1v8h8V7h1v4H0V1zm9.304 0h-3.3V0h5v5h-1V1.713L4.947 6.771l-.707-.707L9.304 1z' fill='%232C359F' fill-rule='nonzero'/%3E%3C/svg%3E");
}

@media print {
	.entry-content a[href*="//"]:not([href*="localhost"]):not([href*="gethyas.com"]):after {
    content: none;
  }
}

.page-links {
  display: none;
}

@media (min-width: 600px) {
  .page-links {
    display: block;
  }

  .page-links ul:first-child {
    margin: 0 0 2rem 0;
  }

  .page-links li {
    list-style: none;
  }
}

.home #site-content .arrow-list-circled {
  margin-top: 1.8rem;
}

.home #site-content .section-inner {
  max-width: 43rem;
}

@media (min-width: 750px) {
  .home #site-content .page-subtitle {
    margin: 2.2rem 0 2.5rem;
  }
}

/*
- https://jakearchibald.github.io/svgomg/
- http://yoksel.github.io/url-encoder/
*/

.arrow-list-circled a::before {
  /*
  background: url( ./assets/images/icons/arrow-circled-right-blue.svg ) no-repeat center;
  content: "";
  */
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%233C48D5' fill-rule='evenodd'%3E%3Cpath d='M16 30c7.732 0 14-6.268 14-14S23.732 2 16 2 2 8.268 2 16s6.268 14 14 14zm0 2C7.163 32 0 24.837 0 16S7.163 0 16 0s16 7.163 16 16-7.163 16-16 16z' fill-rule='nonzero'/%3E%3Cpath d='M21.243 15l-4.657-4.657L18 8.93 25.071 16 18 23.071l-1.414-1.414L21.243 17H7v-2h14.243z'/%3E%3C/g%3E%3C/svg%3E") no-repeat center;
  content: "";
  display: block;
  height: 3.2rem;
  margin-right: 1rem;
  width: 3.2rem;
}

.arrow-list a::before {
  /*
	background: url( ./assets/images/icons/arrow-right-blue.svg ) no-repeat center;
  content: "";
  */
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 22 18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.07 8.236L11.914 1.08 12.995 0l7.92 7.92.003-.004 1.08 1.08-9.007 9.007-1.08-1.08 7.16-7.16H-.001V8.236h19.07z' fill='%233C48D5' fill-rule='evenodd'/%3E%3C/svg%3E") no-repeat center;
  content: "";
  display: block;
  height: 1.8rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2.2rem;
}

@media (min-width: 1200px) {
  #site-search .search-field {
    /*
    background: #fff url( ./assets/images/icons/spyglass-gray.svg ) no-repeat;
    */
    background: #fff url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 22.459l-6.095-6.095c3.176-3.947 2.935-9.754-.728-13.417A9.998 9.998 0 0010.062 0a9.996 9.996 0 00-7.115 2.947A9.995 9.995 0 000 10.062a9.995 9.995 0 002.947 7.115 9.995 9.995 0 007.115 2.947c2.32 0 4.52-.782 6.302-2.22L22.46 24 24 22.46zm-13.938-4.514a7.83 7.83 0 01-5.574-2.31 7.83 7.83 0 01-2.309-5.574 7.83 7.83 0 012.31-5.574 7.83 7.83 0 015.573-2.308c2.106 0 4.085.82 5.575 2.308 3.073 3.074 3.073 8.075 0 11.148a7.832 7.832 0 01-5.575 2.31z' fill='%23919BA5' fill-rule='nonzero'/%3E%3C/svg%3E") no-repeat;
    background-size: 2.4rem;
    background-position: top 50% left 4rem;
    padding-left: 8.9rem;
  }
}
