.sidebar {
  scrollbar-width: thin;
  scrollbar-color: #fff #fff;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-track {
  background: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #fff;
}

.sidebar:hover {
  scrollbar-width: thin;
  scrollbar-color: #e1e1e6 #fff;
}

.sidebar:hover::-webkit-scrollbar-thumb {
  background: #e1e1e6;
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #e1e1e6;
}

.docs-links ul {
  margin-left: 0;
}

.docs-links li {
  list-style: none;
  margin: 1.5rem 0;
}

.docs-links li a {
  text-decoration: none;
  color: #2d3741;
}

.docs-links li a.active {
  color: #3c48d5;
}

.docs-links li a:hover,
.docs-links li a:focus {
  text-decoration: underline;
  color: #3c48d5;
}
