{{ if .Site.Params.alertDismissable -}}
  <div id="announcement" data-id="global-alert-{{ md5 .Site.Params.alertText }}" class="alert alert-light line-bg border-0 border-bottom alert-dismissible fade show text-lg-center" role="alert">
    <span class="alert-dismissable-text">{{ .Site.Params.alertText | safeHTML }}</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{{ else -}}
  <div id="announcement" class="alert alert-light line-bg border-0 border-bottom text-lg-center" role="alert">
    {{ .Site.Params.alertText | safeHTML }}
  </div>
{{ end -}}
