{{ if site.Params.starter.navbarSticky -}}
<div class="sticky-top">
{{ end -}}
<header class="navbar navbar-expand-lg">
  {{ with site.Params.starter.containerBreakpoint -}}<div class="container-{{ . }}">{{ else -}}<div class="container">{{ end -}}
    <a class="navbar-brand ms-2 me-auto me-lg-3" href="{{ "/" | absURL }}">
      {{ partial "inline-svg" (dict "src" "svgs/hyas-logo-semibold-wide.svg" "width" "80px" "height" "100%" "class" "svg-inline-custom svg-monochrome") }}
      <span class="visually-hidden">{{ site.Title }}</span>
    </a>
    {{ if and (eq site.Params.starter.colorMode "auto") site.Params.starter.colorModeToggler -}}
    <button class="btn btn-link nav-link p-2 order-lg-1" type="button" aria-label="Toggle theme">
      <svg data-bs-theme-value="dark" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-moon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z"></path>
      </svg>
      <svg data-bs-theme-value="light" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sun" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M12 12m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0m-5 0h1m8 -9v1m8 8h1m-9 8v1m-6.4 -15.4l.7 .7m12.1 -.7l-.7 .7m0 11.4l.7 .7m-12.1 -.7l-.7 .7"></path>
      </svg>
    </button>
    {{ end -}}
    {{ partial "main/showFlexSearch" . }}
    {{ $showFlexSearch := .Scratch.Get "showFlexSearch" -}}
    {{ if $showFlexSearch -}}
    <button type="button" id="searchToggle" class="btn btn-link nav-link p-2 order-lg-2" aria-label="Search website">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <circle cx="10" cy="10" r="7"></circle>
        <line x1="21" y1="21" x2="15" y2="15"></line>
      </svg>
    </button>
    {{ end -}}

    <ul class="nav-social list-inline d-none d-sm-flex order-lg-3 my-auto">
    {{ range .Site.Menus.social -}}
      <li class="list-inline-item">
        <a rel="me" href="{{ .URL | absURL }}" target="_blank">{{ .Pre }}<span class="visually-hidden">{{ .Name }}</span></a>
      </li>
    {{ end -}}
    </ul>

    <!--
    {{ if site.Params.starter.navBarButton -}}
      <a class="btn btn-outline-primary mx-2 px-3 order-lg-3 d-none d-lg-block" href="{{ site.Params.starter.navBarButtonUrl | absURL }}" role="button">{{ site.Params.starter.navBarButtonText }}</a>
    {{ end -}}
    -->
    <button class="btn btn-link nav-link ms-2 p-2 d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Open menu">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu" width="28" height="28" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <line x1="4" y1="8" x2="20" y2="8"></line>
        <line x1="4" y1="16" x2="20" y2="16"></line>
      </svg>
    </button>
    <div class="offcanvas offcanvas-{{ site.Params.starter.offCanvas | default "end" }} h-auto rounded" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <a class="navbar-brand" href="{{ "/" | absURL }}">
          {{ partial "inline-svg" (dict "src" "svgs/hyas-logo-semibold-wide.svg" "width" "80px" "height" "100%" "class" "svg-inline-custom svg-monochrome") }}
          <h5 class="offcanvas-title fw-normal visually-hidden" id="offcanvasNavbarLabel">{{ site.Title }}</h5>
        </a>
        <button class="btn btn-link nav-link ms-auto" type="button" data-bs-dismiss="offcanvas" aria-label="Close menu">
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M18 6l-12 12"></path>
            <path d="M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div class="offcanvas-body d-flex flex-column justify-content-between">
        <ul class="navbar-nav flex-grow-1">
          {{- $current := . -}}
          {{- $section := $current.Section -}}
          {{ range .Site.Menus.main -}}
            {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
            {{- $active = or $active (eq .Name $current.Title) -}}
            {{- $active = or $active (and (eq .Name ($section | humanize)) (eq $current.Section $section)) -}}
            {{- $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog" "authors")) -}}
            {{ if .HasChildren -}}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ .Name -}}
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M6 9l6 6l6 -6"></path>
                  </svg>
                </a>
                <ul class="dropdown-menu">
                  {{ range .Children -}}
                  {{- $active = eq .Name $current.Title -}}
                    <li><a class="dropdown-item{{ if $active }} active{{ end }}" href="{{ .URL | absURL }}"{{ if $active }} aria-current="true"{{ end }}><span class="dropdown-menu-pre">{{ .Pre }}</span>{{ .Name }}</a></li>
                  {{ end -}}
                </ul>
              </li>
            {{ else -}}
              <li class="nav-item">
                <a class="nav-link{{ if $active }} active{{ end }}" href="{{ .URL | absURL }}"{{ if $active }} aria-current="true"{{ end }}>{{ .Name }}</a>
              </li>
            {{ end -}}
          {{ end -}}
        </ul>
        <ul class="nav-social list-inline d-flex flex-row d-lg-none order-lg-3">
        {{ range .Site.Menus.social -}}
          <li class="list-inline-item">
            <a rel="me" href="{{ .URL | absURL }}" target="_blank">{{ .Pre }}<span class="visually-hidden">{{ .Name }}</span></a>
          </li>
        {{ end -}}
        </ul>
        {{ if site.Params.starter.navBarButton -}}
          <a class="btn btn-lg btn-light rounded-pill mt-2 mb-3 btn-block d-lg-none" href="{{ site.Params.starter.navBarButtonUrl | absURL }}" role="button">{{ site.Params.starter.navBarButtonText }}</a>
        {{ end -}}
      </div>
    </div>
  </div>
</header>
{{ if site.Params.starter.navbarSticky -}}
</div>
{{ end -}}

<!-- Search modal -->
{{ if site.Params.starter.flexSearch -}}
{{ partial "header/search-modal" . }}
{{ end -}}
