<div class="cover-toggle short-transition toggle bg-overlay" id="search-results-cover" data-unlock-screen="true" data-toggle-target="#site-search"></div>

<div id="site-search">

  <div class="search-form">
    <input type="search" class="search-field" placeholder="Search documentation…" />
    <div class="search-empty">
      <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path fill="#919BA5" d="M9 7.615L16.615 0 18 1.385 10.385 9 18 16.615 16.615 18 9 10.385 1.385 18 0 16.615 7.615 9 0 1.385 1.385 0z" fill-rule="evenodd"/></svg>
    </div>
    <div class="toggle search-untoggle" data-unlock-screen="true" data-toggle-target="#site-search">
      <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><path d="M9 7.615L16.62 0 18 1.385 10.38 9 18 16.615 16.62 18 9 10.385 1.38 18 0 16.615 7.62 9 0 1.385 1.38 0z" fill="#2D3741" fill-rule="evenodd"/></svg>
    </div>
  </div>

  <div class="search-results">
    <ul class="arrow-list reset-list-style">
      
      {{ $section := "docs" }}
      {{ range (where .Site.RegularPages.ByTitle "Section" $section ) }}
        <li><a href="{{ .Permalink }}">{{ .Params.title | humanize | title }}</a></li>
      {{ end }}

    </ul>
    <p class="no-results-text mfs-15 tfs-18 no-margin color-dark-gray line-height-title">No results found for <span class="search-value weight-medium"></span>. Try something else?</p>
  </div>

</div>


