<div class="alert alert-{{ with .Get "context" }}{{.}}{{ else }}light border{{ end }} d-flex{{ with .Get "class" }} {{.}}{{ end }}" role="alert">
  {{ with .Get "icon" }}<span class="alert-icon">{{.}}</span>{{ end }}
  {{ with .Get "text"}}
    <span class="alert-text">{{ . | safeHTML }}</span>
  {{ else }}
    {{ with .Inner}}
      <span class="alert-text"> {{ . | markdownify}}</span>
    {{ else }}
      {{ errorf "No valid text variable or Inner content given"}}
    {{ end }}
  {{ end}}
</div>
