// Put your custom SCSS code here

.card.bg-blue-purple-gradient {
    background-image: linear-gradient(83.21deg, #3245ff 0%, #b845ed 100%);
    color: rgba(242, 246, 250, 1);
}

.card.bg-blue-green-gradient {
    background-image: linear-gradient(247.23deg, #4af2c8 0%, #2f4cb3 100%);
    color: rgba(242, 246, 250, 1);
}

.card.bg-red-pink-gradient {
    background-image: linear-gradient(66.77deg, #d83333 0%, #f041ff 100%);
    color: rgba(242, 246, 250, 1);
}

img {
    border-radius: 0;
}

.icon-wrapper {
    width: 60px;
    height: 60px;
    border: 1px solid var(--sl-color-gray-5);
    border-radius: 50%;
    background-color: var(--sl-color-gray-6);
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

.icon-community {
    position: absolute;
    top: 1.5rem;
    right: 0;
    width: 6.5rem;
    height: 8rem;
}

@include media-breakpoint-up(lg) {
    .icon-community {
        width: 19.5rem;
        height: 24rem;
    }
}

.icon-hyas,
.icon-thulite {
    margin-bottom: 1.5rem;
}

.card-link {
    background-color: #1c1d22;
    border: 1px solid var(--sl-color-gray-6);
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transition-duration: 0.3s;
    transition-property: transform;
}

.card-link:hover {
    transform: scale(1.025);
}

.card-link:active {
    border: 2px solid $link-color-dark;
}

.notice {
    // padding: 0.25rem 1.25rem;
    padding: 0.75rem 1.75rem;

    // background-color: var(--sl-color-gray-3);
    border: 1px solid var(--sl-color-gray-5);
    background-color: var(--sl-color-gray-6);
    // background-image: linear-gradient(to right, #ff7b72, #f0883e);
    opacity: 1;
    color: var(--sl-color-white);
    margin-bottom: 0.5rem;

    /*
    background: linear-gradient(var(--sl-color-gray-6), var(--sl-color-gray-6)) padding-box, linear-gradient(103.55deg, #7152DC 16.12%, #2886A9 41.87%, rgba(63, 122, 144, 0.53) 84.45%) border-box;
    border: 1px solid transparent;
    */
}

.notice:hover {
    opacity: 0.9;
}

code,
kbd,
samp,
pre {
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em;
    color: inherit;
}

.home .highlight pre {
    border: 2px solid var(--sl-color-gray-4);
}

.home .card-title {
    font-weight: 400;
    font-size: 2rem;
    line-height: 1.2;
}

@include media-breakpoint-up(lg) {
    .home .card-title {
        font-size: 2.125rem;
    }

    .home .card-title.card-title-custom {
        font-size: 2.375rem;
        line-height: 1.1;
    }

    .home .card-title.card-title-community {
        font-size: 2.625rem;
        line-height: 1.1;
    }
}

.home .card-title.custom-title-width {
    width: 80%;
}

@include media-breakpoint-up(lg) {
    .home .card-title.custom-title-width {
        width: 75%;
    }
}

.border-img {
    border: 1px solid #343841;
}

// Details
details {
    border: 1px solid #343841;
}

summary:hover {
    background: var(--sl-color-gray-6);
}

details summary::after {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28222, 226, 230, 0.75%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

details[open] > summary {
    border-bottom: 1px solid #343841;
}

.single.themes .prose a.link-action {
    margin-bottom: 2rem;
}

header .nav-secondary a {
    color: var(--sl-color-gray-2);
    text-decoration: none;
}

header .nav-secondary a:hover {
    color: var(--sl-color-gray-3);
}

.btn-up {
    width: 48px;
    height: 48px;
    margin-top: 0.5rem;
}

// Email obfuscation
span.email b {
  display: none;
}

.content a {
  font-weight: 400;
  text-underline-offset: 2px;
}

 .thulite-logo-semibold-wide {
    width: 110px;
    height: 100%;
}

@include media-breakpoint-down(lg) {
    .thulite-logo-semibold-wide {
        width: 100px;
        height: 100%;
    }
}

.icon-circle {
    width: 3.25rem;
    height: 3.25rem;
    border-radius: 50%;
    border: 1px solid var(--sl-color-gray-5);
    background-color: var(--sl-color-gray-6);
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

    svg {
        width: 1.5rem;
        height: 1.5rem;
    }
}

@include media-breakpoint-up(lg) {
    .icon-circle {
        width: 3.5rem;
        height: 3.5rem;

        svg {
            width: 1.75rem;
            height: 1.75rem;
        }
    }
}

.landing .form-control, .landing .btn:not(.btn-up) {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}

// Source: https://codeburst.io/how-to-create-horizontal-scrolling-containers-d8069651e9c6

.spotlight-group {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
      display: none;
    }

    .spotlight {
      flex: 0 0 auto;
    }
  }

  .spotlight {
    transition: transform 0.3s;
  }

  .spotlight:first-child {
    margin-left: 0 !important;
  }

  .spotlight:hover {
    cursor: pointer;
    transform: scale(1.025);
  }

  .spl-header {
    padding-left: 0.75rem;
    padding-right: 0.5rem;
  }

  .spl-title {
    font-family: var(--bs-body-font-family);
    font-weight: 300;
  }

//

/*
h1, h2, h3 {
    font-family: var(--bs-font-monospace);
}
    */

img, img-fluid {
    max-width: 100%;
    height: auto;
}

//
h1.display-1.fw-normal {
    font-weight: 700 !important;
}

h2,
h3,
h2.display-4.fw-normal,
h2.display-5.fw-normal,
h2.display-6.fw-normal,
h1.display-3.fw-normal,
h1.display-4.fw-normal {
    font-weight: 600 !important;
}

.card.card-cta {
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 1.5rem;
}

.card.card-cta-lg {
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 1.5rem;
}

.bg-blue-circles{
    background-image: radial-gradient(circle at 17% 77%, rgba(17, 17, 17,0.04) 0%, rgba(17, 17, 17,0.04) 50%,rgba(197, 197, 197,0.04) 50%, rgba(197, 197, 197,0.04) 100%),radial-gradient(circle at 26% 17%, rgba(64, 64, 64,0.04) 0%, rgba(64, 64, 64,0.04) 50%,rgba(244, 244, 244,0.04) 50%, rgba(244, 244, 244,0.04) 100%),radial-gradient(circle at 44% 60%, rgba(177, 177, 177,0.04) 0%, rgba(177, 177, 177,0.04) 50%,rgba(187, 187, 187,0.04) 50%, rgba(187, 187, 187,0.04) 100%),linear-gradient(19deg, rgb(28, 117, 250),rgb(34, 2, 159));
}

.bg-green-circles{
    background-image: radial-gradient(circle at 17% 1%, rgba(198, 198, 198,0.03) 0%, rgba(198, 198, 198,0.03) 50%,rgba(42, 42, 42,0.03) 50%, rgba(42, 42, 42,0.03) 100%),radial-gradient(circle at 8% 81%, rgba(253, 253, 253,0.03) 0%, rgba(253, 253, 253,0.03) 50%,rgba(36, 36, 36,0.03) 50%, rgba(36, 36, 36,0.03) 100%),radial-gradient(circle at 83% 29%, rgba(164, 164, 164,0.03) 0%, rgba(164, 164, 164,0.03) 50%,rgba(60, 60, 60,0.03) 50%, rgba(60, 60, 60,0.03) 100%),radial-gradient(circle at 96% 62%, rgba(170, 170, 170,0.03) 0%, rgba(170, 170, 170,0.03) 50%,rgba(169, 169, 169,0.03) 50%, rgba(169, 169, 169,0.03) 100%),linear-gradient(338deg, rgb(2, 141, 213),rgb(5, 172, 81));
}

.bg-purple-circles {
    background-image: radial-gradient(circle at 28% 93%, rgba(2, 2, 2,0.04) 0%, rgba(2, 2, 2,0.04) 50%,rgba(223, 223, 223,0.04) 50%, rgba(223, 223, 223,0.04) 100%),radial-gradient(circle at 13% 75%, rgba(185, 185, 185,0.04) 0%, rgba(185, 185, 185,0.04) 50%,rgba(25, 25, 25,0.04) 50%, rgba(25, 25, 25,0.04) 100%),radial-gradient(circle at 79% 39%, rgba(34, 34, 34,0.04) 0%, rgba(34, 34, 34,0.04) 50%,rgba(57, 57, 57,0.04) 50%, rgba(57, 57, 57,0.04) 100%),linear-gradient(56deg, rgb(39, 37, 178),rgb(169, 88, 194));
}

.bg-blue-lens-flare {
    background-image: radial-gradient(circle at 87% 4%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 51% 31%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 58% 26%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 4% 34%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 30% 82%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 68% 92%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 19% 32%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 50% 41%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 46% 3%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 49% 58%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),linear-gradient(0deg, rgb(52, 208, 235),rgb(68, 23, 221));
}

@include media-breakpoint-up(lg) {
.card.card-cta {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.card.card-cta-lg {
    padding-top: 9rem;
    padding-bottom: 9rem;
}
}

/*
.sidebar-section a:not(.btn, .text-link) {
  // color: #b3c7ff;
  color: rgba(232, 196, 249, 1);
}

.sidebar-section a:not(.btn, .text-link):hover {
  // color: #b3c7ff;
  color: $white;
}
*/

.home .card {
    border-radius: 0.5rem;
}

.card-sponsor {
    border-radius: 0.25rem;

    @include media-breakpoint-up(lg) {
        svg {
            width: 115px;
        }
    }
}

.card-sponsor:hover {
    background-color: var(--sl-color-gray-6);
    border-color: var(--sl-color-gray-5);
}

.card-sponsor .card-body{
    margin: 1.5rem 0;
}
