@media (prefers-reduced-motion: no-preference) {
  html,
  body {
    scroll-behavior: smooth !important;
    -webkit-scroll-behavior: smooth !important;
  }
}

/* Source: https://getpublii.com/blog/one-line-css-solution-to-prevent-anchor-links-from-scrolling-behind-a-sticky-header.html */

/*
.single.section.docs,
.single.section.plugins,
.single.section.themes,
.single.section.showcase,
*/
.single {
  .content {
    h2,
    h3,
    h4,
    sup {
      scroll-margin-top: 7rem;

      @include media-breakpoint-up(xl) {
        scroll-margin-top: 8.25rem;
      }
    }
  }
}

body.section {
  padding-top: 0;
  padding-bottom: 0;
}

.bg-light {
  background: $gray-800 !important;
}

.bg-dark {
  background: $gray-7500 !important;
}

.bg-dark .card-title {
  color: $white;
}

.bg-dark svg {
  stroke: $white;
}

.bg-dark .search-toggle svg {
  color: $white;
}

.bg-dark p {
  color: $blue-3900 !important;
}

.bg-dark .alert,
.bg-dark .text-link {
  color: $white;
}

.bg-dark .form-control,
.bg-dark .btn-newsletter {
  background: $gray-7600 !important;
}

.bg-subtle {
  background-color: $blue-7300 !important;
}

.bg-subtle p {
  color: $blue-3900 !important;
}

.bg-subtle .post-title,
.bg-subtle .text-link {
  color: $white;
}

.text-accent-primary {
  color: $green-300 !important;
}

.home-campaign-enterprise {
  box-shadow: $purple-1000 0 0 0 1px inset;
}

.home-campaign-enterprise:hover {
  box-shadow: $purple-800 0 0 0 1px inset;
}

.newsletter {
  padding: 0.0625rem;
  background: linear-gradient(92.05deg, #d2a8ff 12.09%, #f778ba 42.58%, #ff7b72 84.96%);
}

.btn-newsletter span {
  background: linear-gradient(92.05deg, #d2a8ff 12.09%, #f778ba 42.58%, #ff7b72 84.96%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
  font-weight: 500;
}

@include media-breakpoint-down(md) {
  .newsletter .form-control {
    width: 100%;
    border-top-right-radius: var(--bs-border-radius) !important;
    border-bottom-right-radius: var(--bs-border-radius) !important;
  }

  .newsletter .btn-newsletter {
    width: 100%;
    margin-top: 0.5rem;
    border-bottom-left-radius: var(--bs-border-radius) !important;
    border-top-left-radius: var(--bs-border-radius) !important;
  }
}

.banner {
  // padding: 110px 0 140px;
  // padding: 90px 0 120px;
  padding: 7rem 0 8rem;

  @include tablet {
    text-align: center;
  }

  @include mobile {
    // padding: 100px 0 120px;
    // padding: 80px 0 100px;
    padding: 5rem 0;
  }

  .title {
    position: relative;
    z-index: 1;

    .shape {
      position: absolute;
      top: -20px;
      left: -40px;
      transform: scale(0);
      opacity: 0;
      transform-origin: bottom right;
      animation: svg_shape 0.8s cubic-bezier(0.7, 0, 0.3, 1) forwards;
    }
  }
}

.taxonomy-lists {
  a {
    .icon svg {
      display: inline-block;
      transition: 0.3s;
    }

    &:hover {
      color: $dark;
      border: 1px solid rgba($dark, 0.2);

      .icon svg {
        transform: scale(1.2) translateX(2px);
        opacity: 1 !important;
      }
    }
  }
}

.section-title {
  margin-bottom: 40px;

  .title {
    background: none;
    padding-left: 0;
    color: $black;
    display: inline-block;
    font-weight: 400;
  }
}

.bg-purple-100 {
  background-color: $purple-100 !important;
}

.bg-glow-one {
  background-image: url("images/bg-glow-one.svg");
  background-color: $white;
  background-repeat: no-repeat;
  background-position: 25% 50%;
  height: auto;

  @include media-breakpoint-up(md) {
    background-position: 100% 50%;
  }
}

.bg-sponsors {
  background: linear-gradient(92.05deg, #f2eafe 12.09%, #ffeff7 42.58%, #fcebeb 84.96%);
}

.text-gradient-purple-coral {
  background: linear-gradient(87.54deg, #9867f0 -6.8%, #ed4e50 84.14%) !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

strong {
  font-weight: 500 !important;
}

.bg-gradient-gray-800 {
  background-image: linear-gradient(180deg, $gray-800, $white);
  background-attachment: fixed;
}

.bg-gradient-purple-100 {
  background-image: linear-gradient(180deg, $purple-100, $white);
  background-attachment: fixed;
}
