body {
  overflow-y: scroll;
}

@media (prefers-reduced-motion: no-preference) {
  html,
  body {
    scroll-behavior: smooth !important;
    -webkit-scroll-behavior: smooth !important;
  }
}

/* Source: https://getpublii.com/blog/one-line-css-solution-to-prevent-anchor-links-from-scrolling-behind-a-sticky-header.html */

/*
.single.section.docs,
.single.section.plugins,
.single.section.themes,
.single.section.showcase,
*/
.single {
  .content {
    h2,
    h3,
    h4,
    sup {
      scroll-margin-top: 7rem;

      @include media-breakpoint-up(xl) {
        scroll-margin-top: 8.25rem;
      }
    }
  }
}

body.section {
  padding-top: 0;
  padding-bottom: 0;
}

.banner {
  // padding: 110px 0 140px;
  padding: 90px 0 120px;

  @include tablet {
    text-align: center;
  }

  @include mobile {
    // padding: 100px 0 120px;
    padding: 80px 0 100px;
  }

  .title {
    position: relative;
    z-index: 1;

    .shape {
      position: absolute;
      top: -20px;
      left: -40px;
      transform: scale(0);
      opacity: 0;
      transform-origin: bottom right;
      animation: svg_shape 0.8s cubic-bezier(0.7, 0, 0.3, 1) forwards;
    }
  }
}

.taxonomy-lists {
  a {
    .icon svg {
      display: inline-block;
      transition: 0.3s;
    }

    &:hover {
      color: $dark;
      border: 1px solid rgba($dark, 0.2);

      .icon svg {
        transform: scale(1.2) translateX(2px);
        opacity: 1 !important;
      }
    }
  }
}
