// Put your custom (S)CSS variables here

$font-family-base: var(--#{$variable-prefix}font-monospace);
$line-height-base: 1.6;
$headings-font-family: $font-family-monospace;
$headings-font-weight: $font-weight-light;

$h1-font-size: clamp(2.25rem, 5vw, 3rem);
$h2-font-size: clamp(1.875rem, 4vw, 2.5rem);
$h3-font-size: clamp(1.5rem, 3.5vw, 2rem);
$h4-font-size: clamp(1.313rem, 3vw, 1.5rem);
$h5-font-size: $font-size-base * 1.125;
$h6-font-size: $font-size-base;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;

// Navbar

$navbar-padding-y: $spacer * 1.25;
$navbar-padding-x: $spacer;
