// scss-docs-start theme-color-variables
$primary:       $contrast;
$secondary:     $contrast-2;
$light:         $light-base-2;
$dark:          $base-2;
// scss-docs-end theme-color-variables
// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-responsive-font-sizes: true;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12;
$grid-gutter-width: 48px;
$grid-row-columns: 6;

// Prefix for :root CSS variables

$variable-prefix: th-;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: 'Geist Mono Variable', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// stylelint-enable value-keyword-case
$font-family-base: var(--#{$variable-prefix}font-monospace);
$font-family-code: var(--#{$variable-prefix}font-monospace);
$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-xl: $font-size-base * 1.375;
$font-size-lg: $font-size-base * 1.25;
$font-size-md: $font-size-base * 1.125;
$font-size-sm: $font-size-base * 0.875;
$font-weight-light: 300;
$font-weight-base: $font-weight-light;
$line-height-base: 1.6;
$headings-font-family: $font-family-monospace;
$headings-font-weight: 300;
$headings-line-height: 1.25;

$h1-font-size:                clamp(2.25rem, 5vw, 3rem);
$h2-font-size:                clamp(1.875rem, 4vw, 2.5rem);
$h3-font-size:                clamp(1.5rem, 3.5vw, 2rem);
$h4-font-size:                clamp(1.313rem, 3vw, 1.5rem);
$h5-font-size:                $font-size-base * 1.125;
$h6-font-size:                $font-size-base;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;

// Navbar

$navbar-padding-y: $spacer * 1.25;
$navbar-padding-x: $spacer;

// Alerts
//
// Define alert colors, border radius, and padding.

$alert-padding-y: 0.75rem;
$alert-padding-x: 1.5rem;
$alert-margin-bottom: 0;
$alert-border-radius: 0;
$alert-link-font-weight: $headings-font-weight;
$alert-border-width: 0;
$alert-bg-level: 0;
$alert-border-level: 0;
$alert-color-level: 0;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-transitions:          false;
$enable-dark-mode:            false;
$enable-negative-margins:     true;

// Body
//
// Settings for the `<body>` element.

$body-text-align:           null;
$body-color:                $contrast;
$body-bg:                   $base;

$body-secondary-color:      lighten($contrast-2, 20%);
$body-secondary-bg:         $base-2;

$body-tertiary-color:       $contrast-3;
$body-tertiary-bg:          $base-2;

$body-emphasis-color:       $contrast;

// Components
//
// Define common padding and border radius sizes and more.

// scss-docs-start border-variables
$border-width:                1px;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
);
$border-style:                solid;
$border-color:                $contrast-4;
$border-color-translucent:    rgba($base, .175);
// scss-docs-end border-variables
